[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ctorrent
Comment=BitTorrent Client written in C++
Comment[de]=BitTorrent-Client in C ++ geschrieben
Comment[el]=Το BitTorrent Client γραμμένο σε C ++
Comment[es]=Cliente BitTorrent escrito en C ++
Comment[fr]=Client BitTorrent écrit en C ++
Comment[it]=Client BitTorrent scritto in C ++
Comment[ja]=C ++で書かれたBitTorrentクライアント
Comment[pl]=Klient BitTorrent napisany w C ++
Comment[pt]=Cliente BitTorrent escrito em C ++
Comment[ru]=Клиент BitTorrent, написанный на C ++
Comment[sv]=BitTorrent Client skrivet i C ++
Exec=remsu /usr/bin/sparky-aptus-extra ctorrent
Icon=bittorent
Terminal=false
Type=Application
Categories=Applications;System

