[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Geary
Comment=Send and receive email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[bs]=Šaljite i primajte e-poštu
Comment[ca]=Envieu i rebeu correus electrònics
Comment[cs]=Odesílejte a přijímejte e-maily
Comment[da]=Send og modtag e-mail
Comment[de]=Senden und empfangen
Comment[el]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba mensajes de correo electrónico
Comment[et]=Send and receive email
Comment[eu]=Bidali eta jaso mezuak
Comment[fa]=ارسال و دریافت ایمیل‌ها
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des courriels
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primanje i slanje pošte
Comment[hu]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e riceve email
Comment[ja]=送受信
Comment[kk]=Эл. поштаны жіберу және қабылдау
Comment[km]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms]=Hantar dan terima emel
Comment[nb]=Send og motta e-post
Comment[nl]=E-mail verzenden en ontvangen
Comment[oc]=Mandar e recebre de corrièrs electronics
Comment[pl]=Wysyłanie i odbieranie poczty
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Envie e receba e-mail
Comment[ro]=Trimite și primește emailuri
Comment[ru]=Отправка и получение электронной почты
Comment[sk]=Odosiela a prijíma emaily
Comment[sl]=Pošlji in prejmi sporočila
Comment[sr]=Шаље и прима е-пошту
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=E-posta gönder ve al
Comment[uk]=Надіслати та одержати пошту
Comment[zh_CN]=发送并接收邮件
Comment[zh_TW]=寄送與收受郵件
Exec=remsu /usr/bin/sparky-aptus-extra geary
Icon=geary
Terminal=false
Type=Application
Categories=Applications;System

