[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Trojitá
Comment=IMAP E-mail Client
Comment[ar]=عميل بريد IMAP إلكترونيّ
Comment[bs]=IMAP klijent za elektronsku poštu
Comment[ca]=Client de correu electrònic IMAP
Comment[cs]=Poštovní klient pro IMAP
Comment[da]=E-mail-klient til IMAP
Comment[de]=IMAP-E-Mail-Programm
Comment[el]=IMAP εφαρμογή αλληλογραφίας
Comment[es]=Cliente de correo IMAP
Comment[et]=IMAP e-posti klient
Comment[fi]=IMAP-sähköpostiohjelma
Comment[fr]=Client de courrier électronique IMAP
Comment[ga]=Cliant Ríomhphoist IMAP
Comment[gl]=Cliente de correo IMAP
Comment[hu]=IMAP e-mail kliens
Comment[is]=IMAP-tölvupóstforrit
Comment[it]=Programma di posta elettronica IMAP
Comment[ko]=IMAP 이메일 클라이언트
Comment[lt]=IMAP el. pašto klientas
Comment[mr]=IMAP इ-मेल ग्राहक
Comment[nb]=IMAP E-postklient
Comment[nl]=IMAP-E-mailclient
Comment[pl]=Klient pocztowy IMAP
Comment[pt]=Cliente de E-Mail por IMAP
Comment[pt_BR]=Cliente de e-mail IMAP
Comment[ro]=Client de poștă IMAP
Comment[sk]=IMAP e-mailový klient
Comment[sv]=IMAP e-postprogram
Comment[tr]=IMAP E-posta İstemcisi
Comment[ug]=IMAP ئېلخەت خېرىدارى
Comment[uk]=Поштовий клієнт IMAP
Comment[zh_TW]=IMAP 電子郵件客戶端程式
Exec=remsu /usr/bin/sparky-aptus-extra trojita
Icon=trojita
Terminal=false
Type=Application
Categories=Applications;System

