[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Corebird
Comment=Twitter Client
Comment[ar]=عامل تويتر
Comment[ast]=Veceru pa Twitter
Comment[ca]=Client del Twitter
Comment[de]=Twitter Client
Comment[eo]=Tviterokliento
Comment[es]=Cliente Twitter
Comment[fi]=Twitter-sovellus
Comment[fr]=Client Twitter
Comment[gl]=Cliente para o Twitter
Comment[hu]=Twitter kliens
Comment[id]=Twitter Klien
Comment[it]=Client Twitter
Comment[ja]=Twitter Client
Comment[ko]=트위터 클라이언트
Comment[lt]=Twitter klientas
Comment[nb]=Twitter-klient
Comment[nl]=Twittertoepassing
Comment[pl]=Klient Twittera
Comment[pt]=Cliente de Twitter
Comment[pt_BR]=Cliente Twitter
Comment[ro]=Client Twitter
Comment[ru]=Клиент Твиттер
Comment[sr]=Твитер клијент
Comment[tr]=Twitter İstemcisi
Comment[uk_UA]=Twitter-клієнт
Comment[zh_CN]=Twitter 客户端
Comment[zh_TW]=Twitter用戶端
Exec=remsu /usr/bin/sparky-aptus-extra corebird
Icon=corebird
Terminal=false
Type=Application
Categories=Applications;System

