[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Konversation
Comment=IRC Client
Comment[ar]=عميل IRC
Comment[be]=Кліент IRC
Comment[bg]=IRC клиент
Comment[bs]=IRC klijent
Comment[ca]=Client d'IRC
Comment[cs]=IRC klient
Comment[da]=IRC-klient
Comment[de]=IRC-Programm
Comment[el]=Πελάτης IRC
Comment[es]=Cliente de IRC
Comment[et]=IRC klient
Comment[eu]=IRC bezeroa
Comment[fi]=IRC-keskustelu
Comment[fr]=Client IRC
Comment[ga]=Cliant IRC
Comment[gl]=Cliente de IRC
Comment[he]=לקוח IRC
Comment[hne]=आईआरसी क्लायंट
Comment[hu]=IRC-kliens
Comment[is]=IRC-forrit
Comment[it]=Client IRC
Comment[kk]=IRC клиенті
Comment[km]=ម៉ាស៊ីន​ភ្ញៀវ IRC
Comment[ko]=IRC 클라이언트
Comment[lt]=IRC klientas
Comment[mr]=IRC ग्राहक
Comment[nb]=IRC-klient
Comment[nds]=IRC-Client
Comment[nl]=IRC-client
Comment[nn]=IRC-klient
Comment[pa]=IRC ਕਲਾਇਟ
Comment[pl]=Klient IRC
Comment[pt]=Cliente de IRC
Comment[pt_BR]=Cliente IRC
Comment[ro]=Client IRC
Comment[ru]=Клиент IRC
Comment[si]=IRC 
Comment[sk]=IRC Client
Comment[sl]=Odjemalec za IRC
Comment[sq]=IRC Klient
Comment[sr]=ИРЦ клијент
Comment[sv]=IRC-klient
Comment[tr]=IRC İstemcisi
Comment[ug]=IRC خېرىدارى
Comment[uk]=Клієнт IRC
Comment[zh_CN]=IRC 客户端
Comment[zh_TW]=IRC 客戶端程式
Exec=remsu /usr/bin/sparky-aptus-extra konversation
Icon=konversation
Terminal=false
Type=Application
Categories=Applications;System

