[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Riot
Comment=A feature-rich client for Matrix.org
Exec=remsu /usr/bin/sparky-aptus-extra riot
Icon=riot-web
Terminal=false
Type=Application
Categories=Applications;System

