[Desktop Entry]
Version=1.0
Name=Gnome Subtitles
GenericName=Subtitle Editor
GenericName[bs]=Uređivač titlova
GenericName[cs]=Editor titulků
GenericName[da]=Undertekstredigering
GenericName[de]=Video-Untertitel-Editor
GenericName[el]=Επεξεργαστής υποτίτλων
GenericName[es]=Editor de subtítulos
GenericName[fr]=Éditeur de sous-titres
GenericName[he]=עורך כתוביות
GenericName[hu]=Feliratszerkesztő
GenericName[is]=Skjátextaritill
GenericName[it]=Editor di sottotitoli
GenericName[pl]=Edytor napisów
GenericName[pt]=Editor de legendas
GenericName[pt_BR]=Editor de legendas
GenericName[ro]=Editor de subtitluri
GenericName[sk]=Editor titulkov
GenericName[sl]=Urejevalnik podnapisov
GenericName[sr]=Уређивач титлова
GenericName[sr@latin]=Uređivač titlova
GenericName[sv]=Undertextredigerare
GenericName[tr]=Altyazı Düzenleyici
Exec=remsu /usr/bin/sparky-aptus-extra gnome-subtitles
Icon=gnome-subtitles
Type=Application
Categories=Video;AudioVideo;
