[Desktop Entry]
Name=Brasero
Comment=Create and copy CDs and DVDs
Comment[af]=Skep en kopieer CD's en DVD's
Comment[ar]=أنشئ وانسخ الاسطوانات والدي‌ڤي‌ديات
Comment[as]=নতুন CD আৰু DVD সৃষ্টি কৰক অথবা কপি কৰক
Comment[ast]=Crear y copiar CD y DVD
Comment[be]=Стварэнне і капіраванне CD- і DVD-дыскаў
Comment[bg]=Създаване и копиране на CD и DVD дискове
Comment[bn]=CD ও DVD তৈরি এবং অনুলিপি করুন
Comment[bn_IN]=নতুন CD ও DVD তৈরি করুন অথবা কপি করুন
Comment[br]=Krouiñ hag eilañ CDoù ha DVDoù
Comment[bs]=Pravi i kopira CD i DVD diskove
Comment[ca]=Crea i copia CD i DVD
Comment[ca@valencia]=Crea i copia CD i DVD
Comment[cs]=Vytvářejte a kopírujte CD a DVD
Comment[da]=Opret og kopiér cd/dvd'er
Comment[de]=CDs/DVDs schreiben und kopieren
Comment[el]=Εγγραφή και αντιγραφή CD και DVD
Comment[en@shaw]=𐑒𐑮𐑦𐑱𐑑 𐑯 𐑒𐑪𐑐𐑦 CD𐑟 𐑯 DVD𐑟
Comment[eo]=Krei kaj kopii KD-jn kaj DVD-jn
Comment[es]=Cree y copie CD y DVD
Comment[et]=Loo ja kopeeri CD- ja DVD-plaate
Comment[eu]=Sortu eta kopiatu CD eta DVDak
Comment[fa]=ایجاد و نسخه بردای از سی‌دی‌ها و دی‌وی‌دی‌ها
Comment[fi]=Luo ja kopioi CD- ja DVD-levyjä
Comment[fr]=Créer et copier des CD ou des DVD
Comment[fur]=Cree e copie CD e DVD
Comment[ga]=Cruthaigh agus cóipeáil CDanna agus DVDanna
Comment[gd]=Cruthaich is dèan lethbhreac dhe CDan is DVDan
Comment[gl]=Grave e copie CDs e DVDs
Comment[gu]=CDs અને DVDs ને બનાવો અને નકલ કરો
Comment[he]=יצירה והעתקה של תקליטורי CD ו־DVD
Comment[hi]=सीडी और डीवीडी बनाएँ और नक़ल लें
Comment[hr]=Stvori i kopiraj CD-e i DVD-e
Comment[hu]=CD-k és DVD-k írása és másolása
Comment[id]=Membuat dan menyalin CD/DVD
Comment[is]=Búa til og afrita CD geisladiska og DVD mynddiska
Comment[it]=Crea e copia CD e DVD
Comment[ja]=CD や DVD の作成やコピーができます
Comment[kk]=CD мен DVD дисктерін жасау және көшіру
Comment[km]=បង្កើត និង​ចម្លង​ស៊ីឌី និង​ឌីវីឌី
Comment[kn]=CD ಮತ್ತು DVDಗಳನ್ನು ಸೃಷ್ಟಿಸಿ ಮತ್ತು ಬರೆಯಿರಿ
Comment[ko]=CD나 DVD를 만들고 복사합니다
Comment[ku]=CD û DVDyan biafirînin û ji ber bigirin
Comment[lt]=Įrašyti ir kopijuoti CD bei DVD diskus
Comment[lv]=Ierakstīt un kopēt CD un DVD
Comment[mk]=Креирај и копирај CD / DVD
Comment[ml]=സിഡികളും ഡിവിഡികളും തയ്യാറാക്കി പകര്‍ത്തുക
Comment[mr]=CDs व DVDs बनवा व प्रतिकृत करा
Comment[my]=စီဒီ/ဒီဗီဒီ မိတ္တူတစ်ခုတည်ဆောက်
Comment[nb]=Skriv og kopier CDer eller DVDer
Comment[nl]=Cd's en dvd's maken en kopiëren
Comment[nn]=Lag og kopier CD-ar og DVD-ar
Comment[oc]=Crear e copiar de CD e de DVD
Comment[or]=CD ଏବଂ DVDଗୁଡ଼ିକୁ ନିର୍ମାଣ କରି ନକଲ କରନ୍ତୁ
Comment[pa]=CD ਅਤੇ DVD ਬਣਾਓ ਅਤੇ ਕਾਪੀ ਕਰੋ
Comment[pl]=Nagrywanie i kopiowanie płyt CD/DVD
Comment[pt]=Crie e copie CDs e DVDs
Comment[pt_BR]=Crie e copie CDs e DVDs
Comment[ro]=Creează și copiază CD-uri și DVD-uri
Comment[ru]=Запись и копирование CD и DVD
Comment[sk]=Vytvára a kopíruje disky CD a DVD
Comment[sl]=CD/DVD ustvarjanje in kopiranje
Comment[sr]=Правите и умножавајте ЦД и ДВД дискове
Comment[sr@latin]=Pravite i umnožavajte CD i DVD diskove
Comment[sv]=Skapa och kopiera cd- och dvd-skivor
Comment[ta]=சிடி க்கள் மற்றும் டிவிடி க்கள் உருவாக்க மற்றும் நகல் எடுக்க
Comment[te]=CDలు మరియు DVDలను సృష్టించుము మరియు నకలుతీయుము
Comment[tg]=Дискҳои CD ва DVD-ро эҷод ва нусхабардорӣ намоед
Comment[th]=สร้างและคัดลอกซีดี/ดีวีดี
Comment[tr]=CD/DVD yaz ve kopyala
Comment[ug]=CD ياكى DVD نى كۆچۈرگىلى ياكى يېڭىدىن ياسىغىلى بولىدۇ
Comment[uk]=Запис та копіювання CD чи DVD
Comment[vi]=Tạo và sao chép đĩa CD và DVD
Comment[zh_CN]=创建及复制 CD/DVD
Comment[zh_HK]=建立與複製 CD 和 DVD
Comment[zh_TW]=建立與複製 CD 和 DVD
Categories=AudioVideo;
Exec=remsu /usr/bin/sparky-aptus-extra brasero
Icon=brasero
Terminal=false
Type=Application
