[Desktop Entry]
Type=Application
Exec=remsu /usr/bin/sparky-aptus-extra k3b
Icon=k3b
Comment=Disk writing program
Comment[ar]=برنامج لحرق الأقراص
Comment[bg]=Програма за запис на дискове
Comment[bs]=Program za pisanje na disk
Comment[ca]=Programa d'escriptura de disc
Comment[ca@valencia]=Programa d'escriptura de disc
Comment[cs]=Program pro vypalování
Comment[csb]=Programa do zapisëwaniô
Comment[da]=Diskbrænder-program
Comment[de]=Brennprogramm für CDs, DVDs und Blu-Ray
Comment[el]=Πρόγραμμα εγγραφής δίσκων
Comment[es]=Programa de grabado de disco
Comment[et]=Plaadi kirjutamise rakendus
Comment[eu]=Disko grabatzeko programa
Comment[fi]=Levynpolttosovellus
Comment[fr]=Programme de gravure de disque
Comment[gl]=Programa para a gravación de discos
Comment[he]=תוכנת כתיבת דיסק
Comment[hr]=Program za snimanje diskova
Comment[hu]=Lemezíró program
Comment[id]=Program penulisan disk
Comment[is]=Skrifunarforrit fyrir geisladiska
Comment[it]=Programma di scrittura disco
Comment[ja]=ディスク書き込みプログラム
Comment[kk]=Дискін жазу бағдарламасы
Comment[km]=កម្មវិធី​​សរសេរ​​​ថាស
Comment[ko]=디스크 쓰기 프로그램
Comment[lt]=Diskų įrašymo programa
Comment[lv]=Disku rakstīšanas programma
Comment[mr]=डिस्क वर लिहिणारा कार्यक्रम
Comment[nb]=Platebrenningsprogram
Comment[nds]=Brennprogramm
Comment[nl]=Programma voor schijven beschrijven
Comment[nn]=Platebrenneprogram
Comment[pl]=Program do nagrywania płyt
Comment[pt]=Um programa de gravação de discos
Comment[pt_BR]=Programa de gravação de discos
Comment[ro]=Program de scriere a discurilor
Comment[ru]=Программа записи дисков
Comment[sk]=Program pre napaľovanie médií
Comment[sl]=Program za zapisovanje nosilcev
Comment[sr]=Програм за уписивање дискова
Comment[sr@ijekavian]=Програм за уписивање дискова
Comment[sr@ijekavianlatin]=Program za upisivanje diskova
Comment[sr@latin]=Program za upisivanje diskova
Comment[sv]=Skivbrännprogram
Comment[th]=เครื่องมือเขียนแผ่น
Comment[tr]=Disk yazma uygulaması
Comment[ug]=دىسكىغا يېزىش قورالى
Comment[uk]=Програма для запису дисків
Comment[zh_CN]=CD 刻录程序
Comment[zh_TW]=碟片寫入程式
Terminal=false
Name=K3b
Categories=AudioVideo;
