[Desktop Entry]
Encoding=UTF-8
Name=Pitivi
Comment=Video Editor
Comment[bs]=Video uređivač
Comment[ca]=Editor de vídeo
Comment[cs]=Editor videa
Comment[da]=Videoredigering
Comment[de]=Video-Bearbeitungsprogramm
Comment[el]=Επεξεργαστής βίντεο
Comment[eo]=Video-redaktilo
Comment[es]=Editor de vídeo
Comment[eu]=Bideo-editorea
Comment[fi]=Videomuokkain
Comment[fr]=Éditeur vidéo
Comment[hu]=Videoszerkesztő
Comment[id]=Penyunting Video
Comment[lt]=Vaizdo įrašų redaktorius
Comment[lv]=Video redaktors
Comment[pl]=Edytor wideo
Comment[pt]=Editor de vídeo
Comment[pt_BR]=Editor de vídeo
Comment[ru]=Видеоредактор
Comment[sk]=Editor videa
Comment[sl]=Program za videomontažo
Comment[sr]=Видео уредник
Comment[sr@latin]=Video urednik
Comment[sv]=Videoredigerare
Comment[tr]=Video Düzenleyici
Comment[uk]=Відеоредактор
Comment[zh_HK]=影片編輯器
Comment[zh_TW]=影片編輯器
Exec=remsu /usr/bin/sparky-aptus-extra pitivi
Terminal=false
Type=Application
Icon=pitivi
Categories=AudioVideo;Video;
