[Desktop Entry]
Version=1.0
Name=Elisa
Exec=remsu /usr/bin/sparky-aptus-extra elisa
Icon=Elisa
Terminal=false
Type=Application
Categories=Audio;
Comment=Simple music player with Plasma integration and privacy
