[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gmerlin
Comment=Multiformat mediaplayer
Comment[de]=Multiformat mediaplayer
Comment[es]=Reproductor de medios multiformato
Comment[it]=Mediaplayer multiformato
Comment[ja]=マルチフォーマットメディアプレイヤー
Comment[pl]=Wieloformatowy odtwarzacz multimediów
Comment[pt]=Mediaplayer multiformato
Comment[ru]=Мультиформатный медиаплеер
Comment[sv]=Multiformat mediaplayer
Exec=remsu /usr/bin/sparky-aptus-extra gmerlin
Icon=gmerlin-player
Terminal=false
Type=Application
Categories=Audio;

