[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Android Messages
Comment=Messages for web, as a desktop app
Exec=remsu /usr/bin/sparky-aptus-extra android-messages-desktop
Icon=android-messages-desktop
Terminal=false
Type=Application
Categories=Applications;System

