[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gajim
Comment=A GTK+ Jabber client
Comment[be]=Jabber-праграма для GTK+
Comment[bg]=Джабър клиент за GTK+
Comment[cs]=GTK+ Jabber klient
Comment[da]=En GTK+ Jabber klient
Comment[de]=Ein Jabber/XMPP-Client in GTK+
Comment[el]=Ένα πρόγραμμα για το Jabber γραμμένο σε GTK+
Comment[es]=Un cliente de Jabber en GTK
Comment[fr]=Un client Jabber en GTK+
Comment[gl]=Un cliente de Jabber de GTK
Comment[he]=לקוח ג׳אבּר GTK+‎
Comment[hr]=GTK+ Jabber klijent
Comment[hu]=Egy GTK+ Jabber kliens
Comment[it]=Un client Jabber GTK+
Comment[ja]=GTK+ Jabber クライアント
Comment[kk]=GTK+ Jabber қолданбасы
Comment[lt]=GTK+ Jabber klientas
Comment[nl]=Een GTK+-Jabber-cliënt
Comment[pl]=Klient Jabbera w GTK+
Comment[pt_PT]=Cliente Jabber GTK+
Comment[pt_BR]=Um cliente Jabber GTK+
Comment[ru]=Jabber-клиент на GTK+
Comment[sk]=GTK+ Jabber klient
Comment[sr]=GTK+ Џабер клијент
Comment[sv]=En GTK+-baserad Jabber-klient
Comment[tr]=Bir GTK+ Jabber istemcisi
Comment[uk]=Jabber клієнт, що базується на GTK+
Comment[zh_CN]=一个 GTK+ 的 Jabber 客户端
Comment[zh_TW]=一個 GTK+ 的 Jabber 客戶端
Exec=remsu /usr/bin/sparky-aptus-extra gajim
Icon=emesene
Terminal=false
Type=Application
Categories=Applications;System

