[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kopete
Comment=Instant Messenger
Comment[ar]=مراسل فوري
Comment[ast]=Mensaxería nel intre
Comment[bg]=Моментни съобщения
Comment[bn]=তাত্ক্ষণিক বার্তাবাহক
Comment[br]=Posteler a-benn-kaer
Comment[bs]=Brze poruke
Comment[ca]=Missatger a l'instant
Comment[cs]=Komunikátor
Comment[cy]=Negesydd Chwim
Comment[da]=Instant messenger
Comment[de]=Instant Messenger
Comment[el]=Στιγμιαίος αποστολέας μηνυμάτων
Comment[eo]=Tujmesaĝilo
Comment[es]=Mensajería instantánea
Comment[et]=Kiirsuhtlusrakendus
Comment[eu]=Berehalako mezularitza
Comment[fa]=پیام‌رسان فوری
Comment[fi]=Pikaviestinohjelma
Comment[fr]=Messagerie instantanée
Comment[ga]=Instant Messenger
Comment[gl]=Mensaxería instantánea
Comment[he]=תוכנת מסרים מידיים
Comment[hi]=इंसटैंट मैसेंजर
Comment[hne]=इंसटैंट मैसेंजर
Comment[hr]=Aplikacija za čavrljanje
Comment[hu]=Azonnali üzenetküldő
Comment[ia]=Messagero Instantanee
Comment[is]=Spjallforrit
Comment[it]=Messaggistica istantanea
Comment[ja]=インスタントメッセンジャー
Comment[kk]=Жедел хабарласу бағдарламасы
Comment[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
Comment[ko]=인스턴트 메신저
Comment[lt]=Momentinių žinučių klientas
Comment[lv]=Tūlītējas ziņojumapmaiņas programma
Comment[mai]=इंसटैंट मैसेंजर
Comment[mk]=Инстант гласник
Comment[ml]=അതിവേഗ ദൂതന്‍
Comment[nb]=Lynmeldingssystem
Comment[nds]=Kortnarichtenprogramm
Comment[ne]=इन्स्ट्यान्ट मेसेन्जर
Comment[nl]=Instant-messenger
Comment[nn]=Lynmeldingsprogram
Comment[pa]=ਤੁਰੰਤ ਮੈਸੈਂਜਰ
Comment[pl]=Komunikator
Comment[pt]=Mensageiro Instantâneo
Comment[pt_BR]=Mensageiro Instantâneo
Comment[ro]=Mesagerie instantanee
Comment[ru]=Программа обмена мгновенными сообщениями
Comment[se]=Instant Messenger-klienta
Comment[si]=ක්‍ෂණික පණිවුඩකරු
Comment[sk]=Instant Messenger
Comment[sl]=Hipni sporočilnik
Comment[sq]=Instant Messenger
Comment[sr]=Брзи гласник
Comment[sv]=Direktmeddelandeklient
Comment[ta]=உடனடி தூதர்
Comment[tg]=Пайёмбари Фаврӣ
Comment[th]=ข้อความด่วนทันใจ
Comment[tr]=Anında Haberleşme Hizmeti
Comment[ug]=مۇڭداشقۇ
Comment[uk]=Програма для миттєвого зв'язку
Comment[uz]=Xabar almashish vositasi
Comment[uz@cyrillic]=Хабар алмашиш воситаси
Comment[vi]=Tin nhắn tức khắc
Comment[zh_CN]=即时通讯客户程序
Comment[zh_TW]=即時訊息客戶端程式
Exec=remsu /usr/bin/sparky-aptus-extra kopete
Icon=kopete
Terminal=false
Type=Application
Categories=Applications;System

