[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pidgin
Comment=Internet Messenger
Comment[af]=Internetboodskapper
Comment[ar]=مرسال إنترنت
Comment[as]=ইন্টাৰনেট মেসেঞ্জাৰ
Comment[ast]=Mensaxeru d'enternet
Comment[bg]=Бързи съобщения
Comment[bn]=ইন্টারনেট বার্তাবাহক
Comment[br]=Postelerezh Kenrouedad
Comment[brx]=इन्टारनेट मेसेनजार
Comment[ca]=Missatger d'Internet
Comment[cs]=Internet Messenger
Comment[da]=Internetbeskeder
Comment[de]=Internet-Sofortnachrichtendienst
Comment[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
Comment[el]=Αποστολέας μηνυμάτων διαδικτύου
Comment[eo]=Interreta Mesaĝilo
Comment[es]=Cliente de mensajería de Internet
Comment[et]=Interneti sõnumivahetus
Comment[eu]=Internet-Mezularia
Comment[fa]=پیغام‌رسان اینترنتی
Comment[fi]=Pikaviestin
Comment[fr]=Messagerie internet
Comment[ga]=Teachtaire Idirlín
Comment[gl]=Mensaxería na Internet
Comment[gu]=Internet Messenger
Comment[he]=למסרים באינטרנט
Comment[hi]=इंटरनेट मेसेंजर
Comment[hu]=Azonnali üzenetküldés
Comment[id]=Pengirim Pesan Internet
Comment[it]=Internet Messenger
Comment[ja]=インターネット・メッセンジャー
Comment[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត
Comment[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್ 
Comment[ko]=인터넷 메신저
Comment[ku]=Peyamnêra înternetê
Comment[lt]=Pokalbiai internete
Comment[lv]=Interneta ziņnesis
Comment[mai]=इंटरनेट मेसेंजर
Comment[mhr]=Писе каласымаш алмаш клиент
Comment[mk]=Инстант пораки
Comment[ml]=ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
Comment[mn]=Интернет Мессенжер
Comment[mr]=इंटरनेट मेसेंजर
Comment[ms_MY]=Pemesej Internet
Comment[my_MM]=အင်တာနက် မစ်ဆင်းဂျာ -
Comment[nb]=Lynmeldingsklient
Comment[nl]=Internet Messenger
Comment[nn]=Lynmeldingsklient
Comment[oc]=Messatjariá instantanèa
Comment[or]=ଇଣ୍ଟରନେଟ ସଂଦେଶବାହାକ
Comment[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
Comment[pl]=Komunikator
Comment[ps]=د انترنت زری
Comment[pt_PT]=Mensageiro Internet
Comment[pt_BR]=Mensageiro da Internet
Comment[ro]=Mesagerie instant
Comment[ru]=Клиент обмена мгновенными сообщениями
Comment[si]=අන්තර්ජාල පණිවිඩකරු
Comment[sk]=Internetový komunikátor
Comment[sl]=Spletni sel
Comment[sq]=Lajmsjellës Internet
Comment[sr]=Интернет писмоноша
Comment[sv]=Meddelandeklient
Comment[ta]=இணையதள தூதுவர்
Comment[te]=ఇంటర్నెట్ మెసెంజర్
Comment[th]=โปรแกรมข้อความด่วน
Comment[tr]=İnternet Mesajlaşma Aracı
Comment[uk]=Спілкування миттєвими повідомленнями
Comment[ur]=ا نٹرنیٹ میسینجر
Comment[vi]=Tin Nhắn
Comment[zh_CN]=互联网通讯程序
Comment[zh_TW]=網路即時通
Exec=remsu /usr/bin/sparky-aptus-extra pidgin
Icon=pidgin
Terminal=false
Type=Application
Categories=Applications;System

