[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Akregator
Comment=A KDE News Feed Reader
Comment[ar]=قارئ «كدي» لتغذيات الأخبار
Comment[bs]=Dovod KDE vijesti
Comment[ca]=Un lector de fonts d'informació pel KDE
Comment[da]=En KDE nyhedsfeed-læser
Comment[de]=Ein Nachrichtensammler für KDE
Comment[el]=Ένας αναγνώστης ροών του KDE
Comment[es]=Un lector de fuentes de noticias para KDE
Comment[et]=KDE uudistevoogude rakendus
Comment[fi]=KDE:n syötteenlukija
Comment[fr]=Un agrégateur de flux pour KDE
Comment[ga]=Léitheoir Fothaí KDE
Comment[gl]=Un lector de fontes de novas de KDE
Comment[hu]=Egy KDE-s hírolvasó
Comment[ia]=Un lector KDE de syndication de novas
Comment[it]=Lettore KDE di fonti di notizie
Comment[ja]=KDE ニュースフィードリーダー
Comment[kk]=KDE жаңалық ақпарды оқу құралы
Comment[km]=កម្មវិធី​អាន​មតិព័ត៌មាន​របស់​ KDE
Comment[ko]=KDE 뉴스 피드 리더
Comment[lt]=KDE naujienų kanalų skaitytuvas
Comment[mr]=केडीई बातम्या फीड वाचक
Comment[nb]=En nyhetskildeleser for KDE
Comment[nds]=En Mellenstroom-Kieker för KDE
Comment[nl]=Een KDE newsfeedlezer.
Comment[pa]=KDE ਨਿਊਜ਼ ਫੀਡ ਰੀਡਰ
Comment[pl]=Czytnik kanałów aktualności dla KDE
Comment[pt_pt]=Um Leitor de Fontes Noticiosas do KDE
Comment[pt_BR]=Um leitor de fontes de notícias do KDE
Comment[ro]=Cititor de fluxuri de știri pentru KDE
Comment[ru]=Программа чтения лент новостей для KDE
Comment[sk]=KDE čítačka noviniek
Comment[sl]=KDE-jev bralnik virov novic
Comment[sr]=КДЕ читач довода вести
Comment[sv]=Läsning av nyhetskanaler för KDE
Comment[tr]=Kde Haber Okuyucu
Comment[ug]=ك د ئې(KDE) دىكى خەۋەر Feed نى ئوقۇش پروگراممىسى
Comment[uk]=Програма для читання подач KDE
Comment[wa]=On lijheu d' floûs di noveles di KDE
Comment[zh_CN]=一个 KDE 种子阅读器
Comment[zh_TW]=KDE 新聞 Feed 閱讀器
Exec=remsu /usr/bin/sparky-aptus-extra akregator
Icon=akregator
Terminal=false
Type=Application
Categories=Applications;System

