[Desktop Entry]
Name=Dvd95
Comment=Convert a DVD9 into a DVD5
Comment[fr]=Convertisseur DVD9 vers DVD5
Comment[pl]=Konwertuj DVD9 do DVD5
Exec=remsu /usr/bin/sparky-aptus-extra dvd95
Icon=dvd95
Terminal=false
Type=Application
Categories=AudioVideo;

