# KDE Config File
[Desktop Entry]
Name=Kdenlive
Comment=Nonlinear video editor by KDE
Comment[ar]=محرّر فيديوهات غير خطّيّ من كدي
Comment[ca]=Editor de vídeo no lineal, creat per la comunitat KDE
Comment[ca@valencia]=Editor de vídeo no lineal, creat per la comunitat KDE
Comment[cs]=Nelineární editor videa od KDE
Comment[da]=Ikke-lineært videoredigeringsprogram af KDE
Comment[de]=Nichtlinearer Video-Editor von KDE
Comment[el]=Μη γραμμικός επεξεργαστής βίντεο από το KDE
Comment[es]=Editor no lineal de video de KDE
Comment[eu]=KDEren bideo editore ez-lineala
Comment[fi]=KDE:n epälineaarinen videomuokkain
Comment[fr]=Éditeur vidéo non linéaire par KDE
Comment[gl]=Editor de vídeo non lineal por KDE
Comment[it]=Editor di video non lineare di KDE
Comment[ko]=KDE의 비선형 동영상 편집기
Comment[nl]=Niet-lineaire video-bewerker door KDE
Comment[nn]=Program for ikkje-lineær videoredigering
Comment[pl]=Nieliniowy edytor wideo w ramach KDE
Comment[pt]=Editor de vídeo não-linear do KDE
Comment[pt_BR]=Editor de vídeo não-linear do KDE
Comment[ru]=Нелинейный видеоредактор от KDE
Comment[sk]=Nelineárny editor videa pre KDE
Comment[sl]=Ne-linearni urejevalnik videa s strani KDE
Comment[sv]=Icke-linjär videoeditor av KDE
Comment[tr]=KDE için doğrusal olmayan video düzenleyici
Comment[uk]=Нелінійний редактор відео від KDE
Comment[zh_CN]=KDE 推出的非线性视频编辑器
Comment[zh_TW]=來自 KDE 的非線性影像編輯器
Type=Application
Exec=remsu /usr/bin/sparky-aptus-extra kdenlive
Icon=kdenlive
Categories=AudioVideo;
