[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Videomass
Exec=remsu /usr/bin/sparky-aptus-extra videomass
Comment=GUI for FFmpeg
Icon=videomass
Categories=AudioVideo;
