[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=APTus Extra
GenericName=APTus Extra
Comment=Install extra applications from SparkyLinux repository
Comment[el_GR]=Εγκατάσταση επιπλέον λογισμικού από τα αποθετήρια του Sparkylinux
Comment[es_AR]=Instala aplicaciones adicionales desde el repositorio de SparkyLinux
Comment[fr_FR]=Installer des applications supplémentaires depuis le dépôt SparkyLinux
Comment[it_IT]=Installa applicazioni ulteriori dai repository di SparkyLinux
Comment[ja_JP]=SparkyLinux リポジトリから追加アプリケーションをインストールします
Comment[pl_PL]=Zainstaluj dodatkowe aplikacje z repozytorium SparkyLinux
Comment[pt_BR]=Instale aplicações extras do repositório do SparkyLinux
Comment[pt_PT]=Instalar aplicações extras a partir do repositório Sparky Linux
Comment[ru_RU]=Установка дополнительных приложений из репозитория SparkyLinux
Comment[sv_SE]=Installera extraapplikationer från SparkyLinux-förrådet
Exec=remsu /usr/bin/sparky-aptus-extra
Icon=system-software-install
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

