[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GNOME Music
Comment=Play and organize your music collection
Comment[af]=Speel en organiseer u musiekversameling
Comment[an]=Reproducir y organizar a tuya colección de mosica
Comment[ar]=شغل ونظّم مجموعتك الموسيقية
Comment[as]=আপোনাৰ সংগীত সংগ্ৰহ বজাওক আৰু সংগঠিত কৰক
Comment[be]=Прайграванне і ўпарадкаванне музычнай калекцыі
Comment[bg]=Слушайте и организирайте колекцията си от музика
Comment[bs]=Izvodite i organizirajte svoju muzičku zbirku
Comment[ca]=Reproduïu i organitzeu la col·lecció de música
Comment[cs]=Přehrávat a organizovat svou hudební sbírku
Comment[da]=Afspil og organisér din musiksamling
Comment[de]=Geben Sie Ihre Musik wieder und verwalten Sie Ihre Sammlung
Comment[el]=Αναπαράξτε και οργανώστε τη μουσική σας συλλογή
Comment[eo]=Ludu kaj organizu vian muzikaron
Comment[es]=Reproducir y organizar su colección de música
Comment[et]=Mängi ja halda oma muusikakogu
Comment[eu]=Erreproduzitu eta antolatu zure musika-bilduma
Comment[fa]=پخش و سازمان‌دهی مجموعه آهنگ‌های شما
Comment[fi]=Toista ja hallitse musiikkikokoelmaasi
Comment[fr]=Jouer et organiser votre discothèque
Comment[fur]=Sune e organize le tô colezion di musichis
Comment[ga]=Seinn agus eagraigh do bhailiúchán ceoil
Comment[gd]=Cluich is cum rian air a’ chruinneachadh ciùil agad
Comment[gl]=Reproduce e organiza a súa colección de música
Comment[he]=לנגן ולארגן את אוסף המוזיקה שלך
Comment[hr]=Slušajte i organizirajte vašu glazbenu kolekciju
Comment[hu]=Zenegyűjtemény rendszerezése és lejátszása
Comment[id]=Putar dan tata koleksi musik Anda
Comment[is]=Spila og skipuleggja tónlistarsafnið þitt
Comment[it]=Riproduce e organizza la collezione musicale
Comment[ja]=音楽コレクションの再生と整理
Comment[kk]=Музыкалық жинағыңызды ойнау және реттеу
Comment[kn]=ನಿಮ್ಮ ಸಂಗ್ರಹದಿಂದ ಸಂಗೀತವನ್ನು ಆಲಿಸಿ ಮತ್ತು ವ್ಯವಸ್ಥಿವಾಗಿರಿಸಿಕೊಳ್ಳಿ
Comment[ko]=음악 모음을 재생하고 정리합니다
Comment[lt]=Groti ir tvarkyti muzikos kolekciją
Comment[lv]=Atskaņo un organizē savu mūzikas kolekciju
Comment[ml]=ഗാനശേഖരം ക്രമീകരിച്ച് പ്ലേ ചെയ്യുക
Comment[nb]=Spill av og organiser musikksamlingen din
Comment[nl]=Uw muziekverzameling beluisteren en beheren
Comment[oc]=Jogar e organizar vòstra discotèca
Comment[pa]=ਆਪਣੇ ਸੰਗੀਤ ਭੰਡਾਰ ਨੂੰ ਚਲਾਉ ਅਤੇ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Odtwarzanie i organizowanie kolekcji muzyki
Comment[pt]=Reproduz e organiza a sua coleção de música
Comment[pt_BR]=Reproduza e organize sua coleção de músicas
Comment[ro]=Redă și organizează colecția dumneavoastră de muzică
Comment[ru]=Воспроизведение и управление музыкальной коллекцией
Comment[sk]=Prehráva a organizuje vašu hudobnú zbierku
Comment[sl]=Predvajanje in upravljanje glasbene zbirke
Comment[sr]=Слушајте и уређујте музичку збирку
Comment[sv]=Spela och organisera din musiksamling
Comment[te]=మీ సంగీత సేకరణను ప్రదర్శించి, నిర్వహించుకోండి
Comment[tg]=Коллексияи мусиқии худро мураттаб ва пахш кунед
Comment[tr]=Müzik derleminizi çalın ve yönetin
Comment[uk]=Грати та впорядковувати вашу музичну збірку
Comment[vi]=Phát nhạc và tổ chức các tập nhạc
Comment[zh_CN]=播放与管理您的音乐集
Comment[zh_TW]=播放與組織您的音樂收藏集
Exec=remsu /usr/bin/sparky-aptus-extra gnome-music
Icon=org.gnome.Music
Terminal=false
Type=Application
Categories=Applications;System
