[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=JuK
Comment=Music Player
Comment[bg]=Слушане на музика
Comment[bs]=Muzički program
Comment[ca]=Reproductor musical
Comment[cs]=Přehrávač hudby
Comment[da]=Musikafspiller
Comment[de]=Audio-Wiedergabe
Comment[el]=Music Player
Comment[es]=Reproductor de música
Comment[et]=Muusikamängija
Comment[fi]=Musiikkisoitin
Comment[fr]=Lecteur multimédia
Comment[ga]=Seinnteoir Ceoil
Comment[gl]=Reprodutor de música
Comment[hu]=Zenelejátszó
Comment[ia]=Reproductor musical
Comment[is]=Tónlistarspilari
Comment[it]=Lettore musicale
Comment[ja]=ミュージックプレーヤー
Comment[kk]=Музыка ойнатқышы
Comment[km]=កម្មវិធី​ចាក់​តន្ត្រី
Comment[ko]=음악 재생기
Comment[lt]=Muzikos grotuvas
Comment[mr]=संगीत प्लेयर
Comment[nb]=Musikkspiller
Comment[nds]=Musikafspeler
Comment[nl]=Muziekspeler
Comment[nn]=Musikkspelar
Comment[pa]=ਸੰਗੀਤ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz muzyki
Comment[pt_PT]=Leitor de Música
Comment[pt_BR]=Reprodutor de músicas
Comment[ro]=Program de redare audio
Comment[ru]=Музыкальный проигрыватель
Comment[sk]=Prehrávač hudby
Comment[sl]=Glasbeni predvajalnik
Comment[sr]=Музички плејер
Comment[sv]=Musikspelare
Comment[tr]=Müzik Çalar
Comment[ug]=نەغمە قويغۇ
Comment[uk]=Програвач музики
Comment[zh_CN]=音乐播放器
Comment[zh_TW]=音樂播放器
Exec=remsu /usr/bin/sparky-aptus-extra juk
Icon=juk
Terminal=false
Type=Application
Categories=Applications;System

