[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KsCD
Comment=CD Player
Comment[bg]=Просвирване на звукови дискове
Comment[bs]=CD plejer
Comment[ca]=Reproductor de CD
Comment[cs]=CD přehrávač
Comment[da]=Cd-afspiller
Comment[de]=CD-Wiedergabe
Comment[el]=CD Player
Comment[es]=Reproductor de CD
Comment[et]=CD-mängija
Comment[fi]=CD-soitin
Comment[fr]=Lecteur de CD audio
Comment[ga]=Seinnteoir Dlúthdhioscaí
Comment[gl]=Reprodutor de CD
Comment[hu]=CD-lejátszó
Comment[ia]=Reproductor de CD
Comment[is]=CD spilari
Comment[it]=Lettore CD
Comment[ja]=CD プレーヤー
Comment[kk]=CD ойнатқышы
Comment[km]=កម្មវិធី​ចាក់ស៊ីឌី
Comment[ko]=CD 재생기
Comment[lt]=CD leistuvė
Comment[mr]=CD प्लेयर
Comment[nb]=CD-spiller
Comment[nl]=CD-speler
Comment[nn]=CD-spelar
Comment[pa]=CD ਪਲੇਅਰ
Comment[pl]=Odtwarzacz CD
Comment[pt_PT]=Leitor de CDs
Comment[pt_BR]=Reprodutor de CDs
Comment[ro]=Program de redare a discurilor
Comment[ru]=Проигрыватель аудиодисков
Comment[se]=CD-čuojaheaddji
Comment[sk]=Prehrávač CD 
Comment[sl]=Predvajalnik CD-jev
Comment[sr]=ЦД плејер
Comment[sv]=Cd-spelare
Comment[tr]=CD Çalar
Comment[ug]=CD قويغۇ
Comment[uk]=Програвач КД
Comment[zh_CN]=CD 播放器
Comment[zh_TW]=CD 播放器
Exec=remsu /usr/bin/sparky-aptus-extra kscd
Icon=kscd
Terminal=false
Type=Application
Categories=Applications;System

