[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LXmusic
Comment=Play your music files easily
Comment[af]=Speel musieklêers met gemak
Comment[ar]=شغّل ملفّاتك الموسيقيّة بسهولة
Comment[be]=Слухайце сваю музыку лёгка
Comment[bg]=Изпълявай музиката по-бавно
Comment[bn]=সহজে আপনার মিউজিক ফাইল বাজান
Comment[ca]=Escolteu la vostra música de manera simple
Comment[cs]=Přehrávejte hudbu jednoduše
Comment[da]=Enkel musikafspilning
Comment[de]=Musikdateien einfach wiedergeben
Comment[el]=Εύκολη αναπαραγωγή της μουσικής σας
Comment[es]=Reproduzca fácilmente sus archivos de música
Comment[et]=Muusikafailide mugav kuulamine
Comment[eu]=Erreproduzitu zure musika-fitxategiak modu errazean
Comment[fa]=پخش آسان پرونده‌های آهنگ شما
Comment[fi]=Soita musiikkiasi helposti
Comment[fo]=Avspæl tónleik tín lættliga
Comment[fr]=Lit vos fichiers de musique intuitivement
Comment[gl]=Reproduza a súa música doadamente
Comment[he]=השמעת קובצי המוזיקה שלך בקלות
Comment[hr]=Svirajte lako svoje glazbene datoteke
Comment[hu]=Játszd le zenefájljaid kényelmesen
Comment[id]=Putar musik kamu dengan mudah
Comment[is]=Spilaðu tónlistina þína á einfaldan máta
Comment[it]=Riproduci facilmente i tuoi file musicali
Comment[ja]=簡単に音楽を再生できます
Comment[kk]=Музыка файлдарыңызды жеңіл ойнату
Comment[ko]=음악 파일을 쉽게 재생합니다
Comment[lg]=Ekinaakwanguyiriza okuwuliriza fayiro zo ez'enyimba
Comment[lt]=Klausykitės savo muzikos paprastai
Comment[nb]=Spill musikkfiler
Comment[nl]=Speel uw muziek af met gemak
Comment[nn]=Spel musikkfiler
Comment[pl]=Odtwarza nagrania dźwiękowe przy prostocie obsługi
Comment[pt_PT]=Reprodução de faixas áudio
Comment[pt_BR]=Reproduza seus arquivos de música facilmente
Comment[ro]=Ascultați-vă facil muzica stocată
Comment[ru]=Проигрывай свою музыку играючи
Comment[sk]=Jednoduché prehrávanie hudobných súborov
Comment[sl]=Predvajajte svojo glasbo
Comment[sr]=Слушајте и организујте ваше песме
Comment[sv]=Spela din musik enkelt
Comment[te]=మీ సంగీత దస్త్రాలను సులువుగా ఆడించండి
Comment[tr]=Müzik dosyalarınızı kolayca çalın
Comment[ug]=مۇزىكا ھۆججەتلىرىنى ئاسانلا قويغىلى بولىدۇ
Comment[uk]=Програє музичні файли
Comment[vi]=Phát tập tin âm nhạc của bạn một cách dễ dàng
Comment[zh_CN]=轻松播放您的音乐文件
Comment[zh_TW]=簡易播放音樂檔案
Exec=remsu /usr/bin/sparky-aptus-extra lxmusic
Icon=lxmusic
Terminal=false
Type=Application
Categories=Applications;System

