[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Quod Libet
Comment=Listen to, browse, or edit your audio collection
Comment[bg]=За слушане, разглеждане или редактиране на Вашата аудио колекция
Comment[cs]=Poslouchejte, procházejte nebo upravujte svou hudební sbírku
Comment[da]=Lyt til, gennemse eller rediger din lydsamling
Comment[de]=Anhören, Durchsuchen und Bearbeiten Ihrer Audiosammlung
Comment[el]=Ακούστε, περιηγηθείτε ή επεξεργαστείτε την μουσική σας συλλογή
Comment[es]=Escucha, examina o edita tu colección de música
Comment[eu]=Entzun, arakatu edo editatu zure audio bilduma
Comment[fi]=Kuuntele, selaa tai muokkaa äänikokoelmaasi
Comment[fr]=Écouter, parcourir ou éditer votre collection musicale
Comment[gl]=Escoite, explore ou edite a sua colecçom de música
Comment[he]=האזן, עיין וערוך את אוסף המוסיקה שלך
Comment[hu]=Hallgasd, böngészd vagy szerkeszd zenéidet
Comment[it]=Ascolta, sfoglia o modifica la collezione audio
Comment[ja]=オーディオファイルの再生、内容表示、編集ができます
Comment[ko]=듣기, 검색 및 오디오 모음 편집
Comment[lt]=Klausykite, naršykite ar redaguokite savo muzikos kolekciją
Comment[lv]=Atskaņo, pārlūko vai rediģē jūsu audio kolekciju
Comment[nb]=Lytt til, bla gjennom eller rediger lydsamling
Comment[nl]=Luister naar, doorzoek, of bewerk je audioverzameling
Comment[pl]=Słuchanie, przeglądanie i modyfikowanie kolekcji muzycznej
Comment[pt]=Ouça, navegue, ou edite sua coleção de músicas
Comment[ro]=Ascultaţi, editaţi sau cautaţi în propria colecţie audio
Comment[ru]=Программа для прослушивания и управления фонотекой
Comment[sk]=Počúvajte, prehliadajte, alebo upravujte svoju hudobnú kolekciu
Comment[sv]=Lyssna på, bläddra i eller redigera din ljudsamling
Comment[tr]=Müzik arşivinizi gezin, dinleyin, düzenleyin
Comment[uk]=Програма для прослуховування і керування аудіо-колекцією
Comment[zh_CN]=听、浏览或者编辑您的音频收藏
Comment[zh_TW]=收聽、瀏覽，或編輯您的音訊收藏
Exec=remsu /usr/bin/sparky-aptus-extra quodlibet
Icon=quodlibet
Terminal=false
Type=Application
Categories=Applications;System

