[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rhythmbox
Comment=Play and organize your music collection
Comment[af]=Speel en organiseer u musiekversameling
Comment[ar]=شَغّل ونَظّم مجموعتك الموسيقية
Comment[as]=আপোনাৰ সঙ্গীত বজাওক আৰু পৰিচালনা কৰক
Comment[az]=Musiqi kolleksiyanızı tərtib edin və dinləyin
Comment[be]=Прайграе і арганізуе вашу музычную калекцыю
Comment[bg]=Слушане и организиране на музикална ви колекция
Comment[br]=Lenn hag urzhian ho tastumadeg sonerezh
Comment[bs]=Organizuj i izvodi svoju muzičku zbirku
Comment[ca]=Reproduïu i organitzeu la col·lecció de música
Comment[cs]=Přehrávat a organizovat vaši hudební kolekce
Comment[cy]=Chwarae a threfni eich casgliad cerddoriaeth
Comment[da]=Afspil og organisér din musiksamling
Comment[de]=Ihre Musiksammlung wiedergeben und organisieren
Comment[dz]=གཏང་ཞིནམ་ལས་ཁྱོད་རའི་སྙན་ཆ་བསྡུ་གསོག་འགོ་འདྲེན་འཐབ།
Comment[el]=Αναπαραγωγή και οργάνωση της μουσικής συλλογής σας
Comment[eo]=Ludi kaj organizi vian muzikaron
Comment[es]=Organice y reproduzca su colección de música
Comment[et]=Esita ja halda oma muusikakollektsiooni
Comment[eu]=Erreproduzitu eta antolatu musika bilduma
Comment[fa]=پخش و سازماندهی مجموعه‌ی موسیقی شما
Comment[fi]=Soita ja järjestele musiikkikokoelmasi
Comment[fr]=Lire et organiser votre collection musicale
Comment[ga]=Seinn agus eagraigh do bhailiúchán ceoil
Comment[gd]=Cluich agus cum rian air a' chruinneachadh chiùil agad
Comment[gl]=Reproduza e organice a súa colección de música
Comment[gu]=તમારા સંગીત સંગ્રહને વ્યવસ્થિત કરો અને વગાડો
Comment[he]=לנגינה וארגון של אוסף מוזיקה
Comment[hi]=अपने संगीत संग्रह को बजाएँ और व्यवस्थित करें
Comment[hr]=Organizirajte i reproducirajte svoju glazbenu kolekciju
Comment[hu]=Zenék rendszerezése és lejátszása
Comment[id]=Putar dan atur koleksi musik
Comment[is]=Spila og sjá um tónlistarsafnið þitt
Comment[it]=Riproduce e organizza la collezione musicale
Comment[ja]=あなたの楽曲コレクションを再生、管理します
Comment[kk]=Музыкалық жинағыңызды ойнау және реттеу
Comment[kn]=ನಿಮ್ಮ ಸಂಗೀತದ ಸಂಗ್ರಹವನ್ನು ಚಲಾಯಿಸಿ ಹಾಗು ವ್ಯವಸ್ಥಿತವಾಗಿ ಜೋಡಿಸಿ
Comment[ko]=음악 모음을 재생하고 정리합니다
Comment[lt]=Valdykite ir klausykitės savo muzikos kolekcijos
Comment[lv]=Atskaņo un organizē savu mūzikas kolekciju
Comment[mk]=Свири и организирај ја твојата музичка колекција
Comment[mn]=Хөгжмийн цуглуулгаа тоглуулж, зохион байгуул
Comment[mr]=तुमचे संगीत संग्रह चालवा व संयोजीत करा
Comment[ms]=Mian dan pelihara koleksi muzik anda
Comment[nb]=Spill av og organiser din musikksamling
Comment[ne]=तपाईँको सङ्गीत सङ्ग्रह सङ्गठित गर्नुहोस् र प्ले गर्नुहोस्
Comment[nl]=Uw muziekcollectie beluisteren en beheren
Comment[nn]=Spel av og organiser musikksamlinga di
Comment[oc]=Legir e organizar vòstra colleccion musicala
Comment[pa]=ਆਪਣੀ ਸੰਗੀਤ ਪਸੰਦ ਚਲਾਉ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Odtwarzanie i organizowanie kolekcji muzycznej
Comment[ps]=خپل ټنګټکور ټولګې غږول او سازول
Comment[pt_PT]=Reproduza e organize a sua coleção de música
Comment[pt_BR]=Reproduz e organiza a sua coleção de músicas
Comment[ro]=Redă și organizează colecția dumneavoastră de piese
Comment[ru]=Программа воспроизведения и управления вашей музыкальной коллекцией
Comment[si]=ඔබගේ ගීත සමුච්චය සකස් කරන්න සහ ධාවනය කරන්න 
Comment[sk]=Prehráva a organizuje vašu hudobnú zbierku
Comment[sl]=Predvajajte in organizirajte glasbeno zbirko
Comment[sr]=Слушајте и уређујте музичку збирку
Comment[sv]=Spela och organisera din musiksamling
Comment[ta]=உங்கள் இசை தொகுப்பை இசை அல்லது ஒழுங்குப்படுத்து
Comment[te]=మీ సంగీత సేకరణను ఆడించండి మరియు నిర్వహించండి
Comment[th]=เล่นและจัดการกับเพลงของคุณ
Comment[tr]=Müzik koleksiyonunuzu çalın ve yönetin
Comment[uk]=Відтворення та упорядкування збірки музичних творів
Comment[vi]=Phát nhạc và tổ chức các tập nhạc
Comment[zh_CN]=播放并组织您的音乐收藏
Comment[zh_TW]=播放及管理音樂收藏
Exec=remsu /usr/bin/sparky-aptus-extra rhythmbox
Icon=rhythmbox
Terminal=false
Type=Application
Categories=Applications;System
