[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Yarock
Comment=Audio Player
Comment[be]=Аўдыёпрайгравальнік
Comment[bg]=Аудио плеър
Comment[bs]=Audio plejer
Comment[ca]=Reproductor d'àudio
Comment[cs]=Zvukový přehrávač
Comment[csb]=Grôcz aùdio
Comment[da]=Lydafspiller
Comment[de]=Audio-Wiedergabe
Comment[el]=Αναπαραγωγή ήχου
Comment[eo]=Sonludilo
Comment[es]=Reproductor de audio
Comment[et]=Helifailide mängija
Comment[eu]=Audio erreproduzigailua
Comment[fi]=Musiikkisoitin
Comment[fr]=Lecteur audio
Comment[ga]=Seinnteoir Fuaime
Comment[gl]=Reprodutor de audio
Comment[he]=נגן שמע
Comment[hne]=आडियो प्लेयर
Comment[hu]=Zenelejátszó
Comment[is]=Tónlistarspilari
Comment[it]=Lettore audio
Comment[ja]=オーディオプレーヤー
Comment[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ
Comment[ko]=오디오 재생기
Comment[ku]=Lêdarê Muzîkê
Comment[lt]=Muzikos grotuvas
Comment[lv]=Audio atskaņotājs
Comment[mai]=आडियो प्लेयर
Comment[ms]=Pemain Audio
Comment[nb]=Lydavspiller
Comment[nds]=Klangafspeler
Comment[ne]=अडियो प्लेयर
Comment[nl]=Audiospeler
Comment[nn]=Musikkspelar
Comment[pa]=ਆਡੀਓ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz dźwięku
Comment[pt]=Leitor de Áudio
Comment[pt_BR]=Reprodutor de áudio
Comment[ro]=Redare audio
Comment[ru]=Аудиопроигрыватель
Comment[sk]=Audio prehrávač
Comment[sl]=Predvajalnik glasbe
Comment[sq]=Lexues audio
Comment[sr]=Аудио плејер
Comment[sv]=Musikspelare
Comment[th]=เครื่องเล่นเสียง
Comment[tr]=Müzik Çalar
Comment[ug]=ئۈن قويغۇچ
Comment[uk]=Аудіопрогравач
Comment[wa]=Djouweu d' son
Exec=remsu /usr/bin/sparky-aptus-extra yarock
Icon=application-x-yarock
Terminal=false
Type=Application
Categories=Applications;System
