[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GNOME Screenshot
Comment=Save images of your screen or individual windows
Comment[af]=Stoor beelde van die skerm of individuele vensters
Comment[an]=Alce imachens d'a suya pantalla u de finestras individuals
Comment[ar]=احفظ صور لشاشتك أو للنوافذ المنفردة
Comment[as]=আপোনাৰ পৰ্দা অথবা স্বতন্ত্ৰ উইন্ডোসমূহৰ ছবি সংৰক্ষণ কৰক
Comment[be]=Захаванне здымкаў экрана ці асобных вокнаў
Comment[bg]=Запазване на снимки на екрана или индивидуални прозорци
Comment[bs]=Sačuvajte slike vašeg ekrana ili pojedinačnih prozora
Comment[ca]=Desa imatges de la pantalla o de finestres individuals
Comment[cs]=Uložit obrázky pracovní plochy nebo konkrétních oken
Comment[da]=Gem billeder af din skærm eller individuelle vinduer
Comment[de]=Bildschirmfotos Ihres Bildschirms oder einzelner Fenster speichern
Comment[el]=Αποθηκεύστε στιγμιότυπα της οθόνης σας ή ξεχωριστά παράθυρα
Comment[eo]=Konservi bildojn de via ekrano aŭ de unuopaj fenestroj
Comment[es]=Guarde imágenes de su pantalla o de ventanas individuales
Comment[et]=Ekraanist või üksikutest akendest pildi salvestamine
Comment[eu]=Gorde mahaigaineko edo leiho bakarren irudiak
Comment[fa]=ذخیره‌ی تصاویر رومیزی یا پنجره‌های به صورت فردی
Comment[fi]=Tallenna kuvia työpöydästä tai yksittäisistä ikkunoista
Comment[fr]=Enregistre les images de votre écran ou de vos fenêtres individuelles
Comment[fur]=Salve imagjins dal to visôr o di ugnui barcons
Comment[ga]=Sábháil íomhánna do scáileáin nó fhuinneog aonair
Comment[gd]=Sàbhail dealbhan dhen sgrìn agad no de dh'uinneagan fa leth
Comment[gl]=Gardar imaxes da súa pantalla ou de xanelas individuais
Comment[gu]=તમારા સ્ક્રીન અથવા વ્યક્તિગત વિન્ડોના ચિત્રો સંગ્રહો
Comment[he]=שמירת תמונות של שולחן העבודה או של חלונות בנפרד
Comment[hi]=अपने स्क्रीन या निजी विंडो के चित्र को सहेजें
Comment[hr]=Spremite slike vašeg zaslona ili određenih prozora
Comment[hu]=A képernyő vagy egyedi ablakok képeinek mentése
Comment[id]=Menyimpan gambar layar atau jendela tertentu
Comment[is]=Vista myndir af skjáborðinu þínu eða af einstökum gluggum
Comment[it]=Salva immagini dello schermo o di singole finestre
Comment[ja]=画面またはウィンドウの画像を保存します
Comment[kk]=Толық экран немесе бөлек терезелер скриншоттарын сақтау
Comment[km]=រក្សាទុក​រូបភាព​នៃ​អេក្រង់​របស់​អ្នក ឬ​វីនដូ​​នីមួយៗ
Comment[kn]=ನಿಮ್ಮ ತೆರೆಯನ್ನು ಅಥವ ಪ್ರತ್ಯೇಕ ಕಿಟಕಿಗಳ ಚಿತ್ರಗಳನ್ನು ಉಳಿಸಿ
Comment[ko]=화면이나 개별 창의 이미지를 저장합니다
Comment[lt]=Įrašyti jūsų darbalaukio ar atskirų langų nuotraukas
Comment[lv]=Saglabā darbvirsmas vai logu attēlus
Comment[ml]=നിങ്ങളുടെ സ്ക്രീനിന്റെ അല്ലെങ്കില്‍ ഓരോ ജാലകങ്ങളുടെ ചിത്രങ്ങള്‍ സൂക്ഷിക്കുക
Comment[mr]=पडद्याचे किंवा परस्पर पटलांची प्रतिमा साठवा
Comment[nb]=Lagre bilder av innholdet på skjermen eller i individuelle vinduer
Comment[ne]=तपाईंको पर्दा वा व्यक्तिगत सन्झ्यालको छविहरू बचत गर्नुहोस्
Comment[nl]=Afbeeldingen van uw bureaublad of vensters maken
Comment[oc]=Enregistra los imatges de vòstre ecran o de vòstras fenèstras individualas
Comment[or]=ଆପଣଙ୍କ ପରଦା କିମ୍ବା ବ୍ଯକ୍ତିଗତ ୱିଣ୍ଡୋର ପ୍ରତିଛବିକୁ ସଂରକ୍ଷଣ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਸਕਰੀਨ ਜਾਂ ਅੱਡ-ਅੱਡ ਵਿੰਡੋਜ਼ ਦੇ ਚਿੱਤਰ ਸੰਭਾਲੋ
Comment[pl]=Zapisywanie obrazów pulpitu lub poszczególnych okien
Comment[pt]=Grave imagens do seu ecrã ou de janelas individuais
Comment[pt_BR]=Salvar imagens da sua tela ou de janelas individuais
Comment[ro]=Salvează imagini ale ecranului sau ale unor ferestre individuale
Comment[ru]=Сохранить изображение с экрана или отдельных окон
Comment[sk]=Ukladá obrázky vašej obrazovky alebo jednotlivých okien
Comment[sl]=Zajemanje slik zaslona ali posameznih oken
Comment[sr]=Сачувајте слике вашег екрана или појединачних прозора
Comment[sv]=Spara bilder av din skärm eller individuella fönster
Comment[ta]=உங்கள் பணிமேடையின்  அல்லது தனித்தனி சாளரங்களின் படங்களை சேமிக்கவும்
Comment[te]=మీ తెర లేదా వ్యక్తిగత కిటికీల యొక్క బొమ్మలను భద్రపరుచుకోండి
Comment[tg]=Тасвирҳои экранҳои худ ё равзанаҳои мушаххасро захира кунед
Comment[th]=บันทึกภาพของหน้าจอหรือหน้าต่างที่กำหนด
Comment[tr]=Masaüstünüzün veya pencerelerinizin görüntülerini kaydedin
Comment[ug]=بۇ ئېكران ياكى مەلۇم بىر كۆزنەكنى سۈرەت قىلىپ ساقلايدىغان پروگراممىدۇر
Comment[uk]=Зберегти зображення екрана або окремого вікна
Comment[vi]=Ghi lại ảnh của cả màn hình hay chỉ từng cửa sổ riêng biệt
Comment[zh_CN]=将您的屏幕或单个窗口保存为图像
Comment[zh_TW]=將整個桌面或獨立的視窗儲存為影片
Exec=remsu /usr/bin/sparky-aptus-extra gnome-screenshot
Icon=applets-screenshooter
Terminal=false
Type=Application
Categories=Applications;System
