[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PhotoFlare
Comment=A simple but featureful image editor
Comment[pl_PL]=Prosty lecz funkcjonalny edytor grafiki
Exec=remsu /usr/bin/sparky-aptus-extra photoflare
Icon=photoflare
Terminal=false
Type=Application
Categories=Applications;System
