[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kamoso
Comment=Kamoso Webcam Viewer
Comment[az]=Kamoso Veb Kamera Nümayişçisi
Comment[bg]=Kamoso - програма за уеб камера
Comment[bs]=Kamoso Webcam program za prikazivanje
Comment[ca]=Visualitzador de càmera web Kamoso
Comment[cs]=Prohlížeč webových kamer Kamoso
Comment[da]=Kamoso - netkamerafremviser
Comment[de]=Kamoso Webcam-Betrachter
Comment[dz]=ཀེ་མོ་ར་མ་ཝེབ་ཀེམ་མཐོང་བྱེད་
Comment[es]=Visor de cámara web Kamoso
Comment[eu]=Kamoso Web camera ikustailea
Comment[fi]=Kamoso Webikameran katselin
Comment[fr]=Visionneur de webcam Kamoso
Comment[ga]=Amharcóir Webcam Kamoso
Comment[gl]=Kamoso visualizador de cámara web
Comment[gu]=કેમોરામા વેબકેમ દર્શક
Comment[hi]=केमोरामा वेबकेम दर्शक
Comment[it]=Visualizzatore per webcam Kamoso
Comment[ja]=Kamoso ウェブカム・ビューア
Comment[lv]=Kamoso vebkameru skatītājs
Comment[mk]=Каморама вебкам прегледувач
Comment[ms]=Pelihat Webcam Kamoso
Comment[nb]=Kamoso webkamera-visning
Comment[ne]=कामोरामा वेबक्याम प्रदर्शक
Comment[nl]=Kamoso webcamprogramma
Comment[pa]=ਵੇਖਣ ਵਾਲਾ Kamoso Webcam
Comment[pl]=Kamoso - kamera internetowa
Comment[pt]=Visualizador de Webcam Kamoso
Comment[pt_BR]=Visualizador de Webcam Kamoso
Comment[sl]=Kamoso pregledovalnik spletne kamere
Comment[sq]=Kamoso, shikuesi për webcam
Comment[sr]=Каморама веб камера прегледач
Comment[sv]=Webbkameravisaren Kamoso
Comment[ta]=Kamoso Å¨ÄôÀ¼ì¸ÕÅ¢ À¡÷¨ÅÂ¡Ç÷ ¸¡ðÊ
Comment[tr]=Kamoso Web Kamerası İzleyicisi
Comment[uk]=Робота з веб-камерою
Comment[vi]=Bộ xem máy ảnh Mạng Kamoso
Comment[zh_CN]=Kamoso 摄像头查看器
Comment[zh_TW]=Kamoso 網路攝影機檢視器
Exec=remsu /usr/bin/sparky-aptus-extra kamoso
Icon=camorama
Terminal=false
Type=Application
Categories=Applications;System

