[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Karbon
Comment=Create scalable vector drawings
Comment[bg]=Създаване на векторни графики
Comment[bs]=Kreiraj vektorski crtež koji se može skalirati
Comment[ca]=Crea dibuixos de vectors escalables
Comment[cs]=Vytvářejte vektorové kresby
Comment[da]=Tegn skalerbare vektortegninger
Comment[de]=Skalierbare Vektorzeichungen erstellen
Comment[el]=Δημιουργία διανυσματικών γραφικών
Comment[es]=Crear dibujos vectoriales escalables
Comment[et]=Skaleeritavate vektrojoonistuste loomine
Comment[eu]=Sortu bektore-marrazki eskalagarriak
Comment[fi]=Luo vektorigrafiikkapiirroksia
Comment[fr]=Créer des tracés vectoriels
Comment[fy]=Te skalen fektor ôfbyldings oanmeitsje
Comment[ga]=Cruthaigh líníochtaí veicteoireacha inscálaithe
Comment[gl]=Cree debuxos vectoriais de tamaño variábel.
Comment[he]=יצירת גרפיקה מדורגת עם וקטורים
Comment[hi]=स्केलेबल वेक्टर ड्राइंग बनाएँ
Comment[hu]=Átméretezhető vektorgrafikák létrehozása
Comment[it]=Crea grafica vettoriale riscalabile
Comment[ja]=スケーラブルベクター描画を作成
Comment[kk]=Масштабтауға болатын векторлы суретті салу
Comment[ko]=크기 조정이 가능한 벡터 그래픽 만들기
Comment[lv]=Veido mērogojamus vektoru zīmējumus
Comment[mr]=स्केलेबल व्हेक्टर चित्रे निर्माण करा
Comment[nb]=Lag skalerbare vektortegninger
Comment[ne]=मापनयोग्य भेक्टर रेखाचित्र सिर्जना गर्नुहोस्
Comment[nl]=Schaalbare vectorafbeeldingen aanmaken
Comment[pl]=Twórz skalowalne rysunki wektorowe
Comment[pt]=Criar desenhos vectoriais
Comment[pt_BR]=Criar desenhos vetoriais
Comment[ru]=Создать векторный рисунок
Comment[sk]=Vytvoriť scalable vector drawings
Comment[sl]=Ustvarite raztegljive vektorske risbe
Comment[sv]=Skapa skalbar vektorgrafik
Comment[tg]=Эҷоди нақшаи тасвирҳои вектор
Comment[tr]=Boyutlandırılabilir vektör çizimler oluştur
Comment[uk]=Створити зображення з масштабовних векторів
Comment[wa]=Ahiver des dessinaedjes pa royes metåves al schåle
Comment[zh_CN]=创建可缩放矢量绘图
Comment[zh_TW]=建立可調整向量圖
Exec=remsu /usr/bin/sparky-aptus-extra karbon
Icon=calligrakarbon
Terminal=false
Type=Application
Categories=Applications;System

