[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KolourPaint
Comment=An easy-to-use paint program
Comment[ca]=Un programa de dibuix senzill d'usar
Comment[cs]=Snadný nástroj pro malování
Comment[da]=Et nemt tegneprogram
Comment[de]=Ein einfach zu benutzendes Mal- und Zeichenprogramm
Comment[el]=Ένα εύκολο στη χρήση πρόγραμμα ζωγραφικής
Comment[es]=Un programa para pintar fácil de usar
Comment[et]=Lihtne joonistamisprogramm
Comment[fi]=Helppokäyttöinen piirto-ohjelma
Comment[fr]=Un programme de dessin facile à utiliser
Comment[gl]=Un programa de debuxo fácil de usar.
Comment[hu]=Egyszerűen használható rajzprogram
Comment[ia]=Un programma pro pinger facilemente
Comment[is]=Einfalt forrit til að teikna og mála myndir
Comment[it]=Un programma di disegno semplice da usare
Comment[ko]=사용하기 쉬운 그리기 프로그램
Comment[lt]=Paprasta piešimo programa
Comment[nl]=Een gemakkelijk te gebruiken tekenprogramma
Comment[nn]=Eit teikneprogram som er lett å bruka
Comment[pl]=Łatwy w użyciu program do malowania
Comment[pt]=Um programa de pintura simples de usar
Comment[pt_BR]=Um programa de desenho fácil de usar
Comment[ru]=Простая в использовании программа для рисования
Comment[sk]=Jednoduchý maľovací program
Comment[sl]=Enostaven program za risanje
Comment[sv]=Ett lättanvänt ritprogram
Comment[tr]=Kolay kullanılır bir çizim programı
Comment[uk]=Проста у користуванні програма для малювання
Comment[zh_CN]=一个简单易用的画图程序
Comment[zh_TW]=易於使用的繪圖程式
Exec=remsu /usr/bin/sparky-aptus-extra kolourpaint
Icon=kolourpaint
Terminal=false
Type=Application
Categories=Applications;System

