[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LightZone
Comment=Post-processing software for digital photos
Exec=remsu /usr/bin/sparky-aptus-extra lightzone
Icon=lightzone
Terminal=false
Type=Application
Categories=Applications;System

