[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KGet
Comment=Download Manager
Comment[ar]=مدير التّنزيل
Comment[ast]=Xestor de baxaes
Comment[be]=Праграма сцягвання файлаў
Comment[bg]=Изтегляне на файлове
Comment[bn]=ডাউনলোড ম্যানেজার
Comment[br]=Merour enkargañ
Comment[bs]=Menadžer preuzimanja
Comment[ca]=Gestor de baixades
Comment[cs]=Správce stahování
Comment[cy]=Rheolydd Lawrlwytho
Comment[da]=Håndtering af download
Comment[de]=Download-Verwaltung
Comment[el]=Διαχειριστής λήψεων αρχείων
Comment[eo]=Elŝuta administrilo
Comment[es]=Gestor de descargas
Comment[et]=Allalaadimiste haldur
Comment[eu]=Deskarga-kudeatzailea
Comment[fa]=مدیر بارگیری
Comment[fi]=Tiedostonlataaja
Comment[fr]=Gestionnaire de téléchargements
Comment[ga]=Bainisteoir Íosluchtaithe
Comment[gl]=Xestor de descargas
Comment[he]=מנהל הורדות
Comment[hi]=डाउनलोड  प्रबंधक
Comment[hr]=Upravitelj preuzimanja
Comment[hu]=Letöltéskezelő
Comment[ia]=Gerente de discargamento
Comment[is]=Niðurhalsstjóri
Comment[it]=Gestore degli scaricamenti
Comment[ja]=ダウンロードマネージャ
Comment[kk]=Жүктеп алу менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
Comment[ko]=다운로드 관리자
Comment[lt]=Siuntimų valdymas
Comment[lv]=Lejupielāžu pārvaldnieks
Comment[mk]=Менаџер за симнувања
Comment[ml]=ഇറക്കിവെക്കല്‍ കാര്യസ്ഥന്‍
Comment[mr]=डाउनलोड व्यवस्थापक
Comment[nb]=Nedlastingsbehandler
Comment[nds]=Daalladenpleger
Comment[ne]=डाउनलोड प्रबन्धक
Comment[nl]=Downloadbeheerder
Comment[nn]=Nedlastingshandsamar
Comment[pa]=ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Comment[pl]=Zarządzanie pobieraniem
Comment[pt]=Gestor de Transferências
Comment[pt_BR]=Gerenciador de downloads
Comment[ro]=Administrator descărcări
Comment[ru]=Диспетчер загрузок
Comment[si]=බාගැනීම් කළමනාකරු
Comment[sk]=Správca sťahovania
Comment[sl]=Upravljalnik prenosov
Comment[sq]=Organizuesi i Shkarkimeve
Comment[sr]=Менаџер преузимања
Comment[sv]=Nerladdningshanterare
Comment[ta]=பதிவிறக்க மேலாளர்
Comment[tg]=Мудири Боркунӣ
Comment[th]=เครื่องมือจัดการการดาวน์โหลด
Comment[tr]=İndirme Yöneticisi
Comment[ug]=چۈشۈرۈش باشقۇرغۇسى
Comment[uk]=Керування отриманнями
Comment[uz]=Yozib olish boshqaruvchisi
Comment[vi]=Trình quản lý việc tải tập tin
Comment[wa]=Manaedjeu d' aberwetaedje
Comment[zh_CN]=下载管理器
Comment[zh_TW]=下載管理員
Exec=remsu /usr/bin/sparky-aptus-extra kget
Icon=kget
Terminal=false
Type=Application
Categories=Applications;System

