[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=qBittorrent
Comment=Download and share files over BitTorrent
Comment[oc]=Telecargar e partejar de fichièrs amb BitTorrent
Comment[af]=Aflaai en deel lêers oor BitTorrent
Comment[ar]=نزّل وشارك الملفات عبر كيوبت‎تورنت
Comment[be]=Сцягванне і раздача файлаў праз пратакол BitTorrent
Comment[bg]=Сваляне и споделяне на файлове чрез BitTorrent
Comment[bn]=বিটটরেন্টে  ফাইল ডাউনলোড এবং শেয়ার করুন
Comment[bs]=Preuzmi i dijeli datoteke preko BitTorrent-a
Comment[ca]=Baixeu i compartiu fitxers mitjançant BitTorrent
Comment[cs]=Stahování a sdílení souborů přes síť BitTorrent
Comment[da]=Download og del filer over BitTorrent
Comment[de]=Über BitTorrent Dateien herunterladen und teilen
Comment[el]=Κάντε λήψη και ανταλάξτε αρχεία μέσω BitTorrent
Comment[es]=Descargue y comparta archivos por BitTorrent
Comment[eu]=Jeitsi eta elkarbanatu agiriak BitTorrent-en
Comment[fa]=دانلود و به اشتراک گذاری فایل های بوسیله  بیت تورنت
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentia käyttäen
Comment[fr]=Télécharger et partager des fichiers avec BitTorrent
Comment[gl]=Descargar e compartir ficheiros co protocolo BitTorrent
Comment[gu]=બિટ્ટોરેંટ પર ફાઈલો ડાઉનલોડ અને શેર કરો
Comment[he]=הורד ושתף קבצים על גבי ביטורנט
Comment[hr]=Preuzmite i dijelite datoteke putem BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása a BitTorrent hálózaton keresztül
Comment[id]=Unduh dan berbagi berkas melalui BitTorrent
Comment[is]=Sækja og deila skrám yfir BitTorrent
Comment[it]=Client BitTorrent per il download di file via internet
Comment[ja]=BitTorrent でファイルをダウンロードおよび共有します
Comment[ka]=ჩამოტვირთე და გააზიარე ფაილები Bittorrent-ის საშუალებით
Comment[ko]=비트토런트를 통해 파일을 다운로드하고 공유합니다
Comment[zh]=通过 BitTorrent 下载和分享文件
Comment[lt]=Atsisiųskite bei dalinkitės failais BitTorrent tinkle
Comment[nb]=Last ned og del filer over BitTorrent
Comment[nl]=Bestanden downloaden en delen via BitTorrent
Comment[pl]=Pobieraj i dziel się plikami przez BitTorrent
Comment[pt]=Transferir e partilhar ficheiros por BitTorrent
Comment[pt_BR]=Baixe e compartilhe arquivos por BitTorrent
Comment[ro]=Descărcați și partajați fișiere prin BitTorrent
Comment[ru]=Скачивайте и делитесь файлами с помощью BitTorrent
Comment[sk]=Sťahovanie a zdieľanie súborov prostredníctvom siete BitTorrent
Comment[sl]=Prenesite in delite datoteke preko BitTorrenta
Comment[sv]=Hämta och dela filer över BitTorrent
Comment[te]=క్యు  బిట్ టొరెంట్ తో ఫైల్స్ దిగుమతి చేసుకోండి , పంచుకోండి
Comment[hi_IN]= अपनी फाइलें BitTorrent के माध्यम से डाउनलोड आैर साॅझा करें
Comment[tr]=Dosyaları BitTorrent üzerinden indirin ve paylaşın
Comment[uk]=Завантажувати і обмінюватися файлами через BitTorrent
Comment[vi]=Tải về và chia sẻ các tập tin thông qua BitTorrent
Comment[zh_HK]=經由BitTorrent下載並分享檔案
Exec=remsu /usr/bin/sparky-aptus-extra qbittorrent
Icon=qbittorrent
Terminal=false
Type=Application
Categories=Applications;System

