[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Transmission
Comment=Download and share files over BitTorrent
Comment[ar]=نزّل وشارك ملفات عبر «بت تورنت»
Comment[ast]=Baxar y compartir ficheros per aciu de BitTorrent
Comment[be]=Запампоўка і абмен файламі ў сеткі BitTorrent
Comment[bg]=Изтегляне и споделяне на файлове чрез BitTorrent
Comment[bn]=সমস্ত BitTorrent এ ফাইল ডাউনলোড এবং অংশগ্রহন করুন
Comment[ca]=Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes BitTorrent
Comment[da]=Download og del filer via BitTorrent
Comment[de]=Dateien über BitTorrent herunterladen und verteilen
Comment[el]=Λήψη και διαμοιρασμός των αρχείων μέσω του BitTorrent
Comment[eo]=Elŝuti kaj kunhavigi dosierojn per BitTorrent
Comment[es]=Descargue y comparta archivos mediante BitTorrent
Comment[et]=Laadi alla ja levita faile BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin avulla
Comment[fo]=Tak niður og deil fílur yvir BitTorrent
Comment[fr]=Téléchargement et partage des fichiers via BitTorrent
Comment[gl]=Descargue e comparta ficheiros a través da rede BitTorrent
Comment[he]=הורדה ושיתוף קבצים ברשת ביטורנט
Comment[hi]=बिट-टोरेंट पर संचिका को डाउनलोड तथा साझा करें
Comment[hr]=Preuzimajte i dijelite datoteke preko BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[id]=Unduh dan berbagi berkas melalui BitTorrent
Comment[is]=Sækja og deila skrám með BitTorrent
Comment[it]=Scarica e condivide file via BitTorrent
Comment[ja]=BitTorrentでファイルをダウンロードおよび共有します
Comment[kk]=BitTorrent желісінде файлдарды жүктеңіз және бөлісіңіз
Comment[ko]=비트토렌트를 이용하여 파일을 다운로드 및 공유합니다
Comment[ky]=BitTorrent'тен файлдарды жүктөңүз жана бөлүшүңүз
Comment[li]=Bestanje binnehoalen en deilen via BitTorrent
Comment[lt]=Atsiųskite ir dalinkitės failais per „BitTorrent“
Comment[lv]=Lejupielādēt un dalīties ar datnēm caur BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[ms]=Muat turun dan kongsi fail melalui BitTorrent
Comment[nb]=Last ned og del filer med BitTorrent
Comment[nl]=Bestanden binnenhalen en delen via BitTorrent
Comment[nn]=Last ned og del filer over BitTorrent
Comment[oc]=Recep e parteja de fichièrs via BitTorrent
Comment[pl]=Pobieranie i udostępnianie plików przez sieć BitTorrent
Comment[pt]=Receber e partilhar ficheiros via bittorrent
Comment[pt_BR]=Baixar e compartilhar arquivos pelo BitTorrent
Comment[ro]=Descarcă și partajează fișiere prin BitTorrent
Comment[ru]=Загружайте и обменивайтесь файлами в сети BitTorrent
Comment[sk]=Sťahujte a zdieľajte súbory cez BitTorrent
Comment[sl]=Prejemajte in dajte datoteke v souporabo preko BitTorrenta
Comment[sq]=Shkarko dhe shpërnda skedarët me BitTorrent
Comment[sr]=Преузимајте и размењујте датотеке преко БитТорент протокола
Comment[sv]=Hämta och dela ut filer över BitTorrent
Comment[te]=దిగుమతిచేయి మరియు దస్త్రాలను బిట్ టోరెంట్ మీదుగా పంచుకొను
Comment[th]=ดาวน์โหลดและแลกเปลี่ยนแฟ้มผ่าน BitTorrent
Comment[tr]=Dosyaları BitTorrent üzerinden indir ve paylaş
Comment[ug]=بىتتوررېنت ئارقىلىق ھۆججەت چۈشۈرۈش ۋە ھەمبەھىرلەش
Comment[uk]=Завантажуйте та розповсюджуйте файли через BitTorrent
Comment[vi]=Tải và chia sẻ tập tin qua BitTorrent
Comment[zh_CN]=通过 BitTorrent 下载和共享文件
Comment[zh_TW]=透過 BitTorrent 協定來下載和分享檔案
Exec=remsu /usr/bin/sparky-aptus-extra transmission
Icon=transmission
Terminal=false
Type=Application
Categories=Applications;System

