[Desktop Entry]
Type=Application
Name=Sound Recorder
Comment=Record sound via the microphone and play it back
Comment[af]=Neem klank op deur die mikrofoon en speel dit terug
Comment[an]=Gravar son con o microfono y reproducir-lo
Comment[ar]=يسجل الأصوات عبر الميكروفون و يعيد تشغيلهم
Comment[as]=মাইক্ৰফোনৰ সহায়ত শব্দ ৰেকৰ্ড কৰক আৰু ইয়াক পুনৰ চলাওক
Comment[be]=Запіс гуку праз мікрафон і прайграванне
Comment[bs]=Snimi zvuk preko mifrofona i pokreni u pozadini
Comment[ca]=Enregistra un so mitjançant el micròfon i reprodueix-lo
Comment[ca@valencia]=Grava un so mitjançant el micròfon i reprodueix-lo
Comment[cs]=Nahrává mikrofonem zvuk a zpětně jej přehrává
Comment[da]=Optag lyd via mikrofonen og afspil den
Comment[de]=Ton mit dem Mikrofon aufnehmen und wiedergeben
Comment[el]=Εγγραφή ήχου μέσα από το μικρόφωνο και αναπαραγωγή του
Comment[eo]=Registri per la mikrofono kaj legi la sonregistradon
Comment[es]=Grabar sonido con el micrófono y reproducirlo
Comment[eu]=Grabatu soinua mikrofonoarekin eta erreproduzitu.
Comment[fa]=صدا را از طریق میکروفن ضبط و دوباره پخش کن
Comment[fi]=Tallenna ääntä mikrofonilta ja toista tallenteita
Comment[fr]=Enregistrer le son avec un microphone et le restituer
Comment[fur]=Regjistre suns cul microfon e ju riprodûs
Comment[gl]=Grava son co micrófono e reprodúceo
Comment[he]=להקליט קול באמצעות המיקרופון ולנגן שוב
Comment[hr]=Snimi zvuk putem mikrofona i reproduciraj ga natrag
Comment[hu]=Hangfelvétel a mikrofonból és lejátszás
Comment[id]=Rekam suara melalui mikrofon dan putar ulang
Comment[it]=Registra i suoni tramite il microfono e li riproduce
Comment[ja]=マイクからの音声を録音し、再生します
Comment[kk]=Дыбыстарды микрофон көмегімен жазып алып, оларды ойнату
Comment[ko]=마이크로 소리를 녹음하고 재생합니다
Comment[lt]=Įrašykite garsą mikrofonu ir jį grokite
Comment[lv]=Ierakstiet skaņu caur mikrofonu un to atskaņojiet
Comment[ml]=മൈക്രോഫോൺ വഴി ശബ്ദം ശേഖരിച്ചിട്ട് കേൾക്കുക
Comment[nb]=Ta opp lyd via mikrofonen og spill dem av
Comment[ne]=माइक्रोफोन मार्फत रेकर्ड गर्नुहोस् र यसलाई बजाउनुहोस्
Comment[nl]=Geluid via de microfoon opnemen en het afspelen
Comment[oc]=Enregistrar lo son amb un microfòn e lo restituir
Comment[pa]=ਮਾਈਕਰੋਫੋਨ ਰਾਹੀਂ ਆਵਾਜ਼ ਰਿਕਾਰਡ ਕਰੋ ਅਤੇ ਇਸ ਨੂੰ ਵਾਪਿਸ ਚਲਾਓ
Comment[pl]=Nagrywanie dźwięku przez mikrofon i jego odtwarzanie
Comment[pt]=Grave som com o microfone e reproduza-o
Comment[pt_BR]=Grave som por meio de microfone e reproduza-o
Comment[ro]=Înregistrează sunet prin intermediul microfonului și îl redă
Comment[ru]=Запись звука с помощью микрофона и последующее его воспроизведение
Comment[sk]=Nahráva zvuk z mikrofónu a prehráva cez reproduktor
Comment[sl]=Snemanje zvoka z mikrofonom in predvajanje posnetkov
Comment[sr]=Снимајте звук путем микрофона и пуштајте га након тога
Comment[sr@latin]=Snimajte zvuk putem mikrofona i puštajte ga nakon toga
Comment[sv]=Spela in ljud via mikrofonen och spela upp det
Comment[te]=మైక్రోఫోను ద్వారా శబ్దాన్ని నమోదించి, ఆడించండి
Comment[tr]=Mikrofon aracılığıyla ses kaydedin ve tekrar oynatın
Comment[uk]=Записати звук через мікрофон і програти його
Comment[vi]=Thu âm thông qua micrô rồi phát lại nó
Comment[zh_CN]=通过麦克风录制声音并播放
Comment[zh_HK]=透過麥克風錄音並回播
Comment[zh_TW]=透過麥克風錄音並回播
Icon=audio-recorder
Categories=Audio;AudioVideo;
Exec=remsu /usr/bin/sparky-aptus-extra gnome-sound-recorder
