[Desktop Entry]
Exec=remsu /usr/bin/sparky-aptus-extra kmix
Type=Application
Terminal=false
Icon=kmix
Name=KMix
Categories=AudioVideo;Audio;Mixer;
Comment=Sound Mixer
Comment[bg]=Звуков смесител
Comment[bs]=Mikser zvuka
Comment[ca]=Mesclador del so
Comment[ca@valencia]=Mesclador del so
Comment[cs]=Zvukový směšovač
Comment[da]=Lydmikser
Comment[de]=Lautstärkeregler
Comment[el]=Μείκτης ήχου
Comment[es]=Mezclador de sonido
Comment[et]=Helimikser
Comment[fi]=Äänimikseri
Comment[fr]=Console de mixage
Comment[ga]=Meascthóir Fuaime
Comment[gl]=Mesturador de son
Comment[hu]=Hangkeverő
Comment[ia]=Miscitor de sono
Comment[id]=Mixer Suara
Comment[is]=Hljóðblöndun
Comment[it]=Mixer audio
Comment[ja]=サウンドミキサー
Comment[kk]=Дыбыс микшері
Comment[km]=កម្មវិធី​លាយ​សំលេង
Comment[ko]=소리 믹서
Comment[lt]=Garsų maišiklis
Comment[mr]=आवाज मिक्सर
Comment[nb]=Lydmikser
Comment[nds]=Klangmischer
Comment[nl]=Geluidsmixer
Comment[nn]=Lydmiksar
Comment[pa]=ਸਾਊਡ ਮਿਕਸਰ
Comment[pl]=Mikser dźwięku
Comment[pt]=Mistura de Áudio
Comment[pt_BR]=Mixer de som
Comment[ro]=Mixer de sunet
Comment[ru]=Звуковой микшер
Comment[se]=Jietnamixer
Comment[sk]=Zvukový mixér
Comment[sl]=Mešalnik zvoka
Comment[sr]=Звучна миксета
Comment[sr@ijekavian]=Звучна миксета
Comment[sr@ijekavianlatin]=Zvučna mikseta
Comment[sr@latin]=Zvučna mikseta
Comment[sv]=Ljudmixer
Comment[tr]=Ses Karıştırıcı
Comment[ug]=ئاۋاز كىرىشتۈرگۈچى
Comment[uk]=Аудіомікшер
Comment[zh_CN]=混音器
Comment[zh_TW]=音效混音器
