[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PavuControl
Comment=Volume Control
Comment[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Comment[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
Comment[ca]=Control del volum
Comment[cs]=Ovládání hlasitosti
Comment[da]=Lydstyrkekontrol
Comment[de]=Lautstärkeregler
Comment[el]=Έλεγχος έντασης ήχου
Comment[es]=Control de Volumen
Comment[fi]=Äänenvoimakkuus
Comment[fr]=Contrôle du volume
Comment[gu]=વોલ્યમ નિયંત્રણ
Comment[hi]=आवाज निर्धारक
Comment[hu]=Hangerőszabályzó
Comment[it]=Regolazione del volume
Comment[ja]=音量調節
Comment[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Comment[ml]=ശബ്ദ നിയന്ത്രണം
Comment[mr]=आवाज नियंत्रण
Comment[nl]=Volumeregeling
Comment[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Comment[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Comment[pl]=Kontrola głośności
Comment[pt]=Controlo de Volume
Comment[pt_BR]=Controle de volume
Comment[ru]=Громкость
Comment[sk]=Ovládanie hlasitosti
Comment[sr]=Контрола јачине звука
Comment[sr@latin]=Kontrola jačine zvuka
Comment[sv]=Volymkontroll
Comment[ta]=ஒலியளவு கட்டுப்பாடு
Comment[te]=ధ్వని నియంత్రణ
Comment[th]=ตัวควบคุมเสียง
Comment[tr]=Ses Denetimi
Comment[uk]=Керування гучністю
Comment[zh_CN]=音量控制
Exec=remsu /usr/bin/sparky-aptus-extra pavucontrol
Icon=multimedia-volume-control
Type=Application
Categories=AudioVideo;Audio;
