[Desktop Entry]
Version=1.0
Type=Application
Name=PHASEX
Comment=Phase Harmonic Advanced Synthesis EXperiment
Icon=phasex
Exec=remsu /usr/bin/sparky-aptus-extra phasex
Terminal=false
Categories=AudioVideo;Audio;
