[Desktop Entry]
Version=1.0
Name=Sound Converter
Comment=Converts audio files into other formats
Comment[ar]=تحويل الملفات الصوتية إلى صيغ أخرة
Comment[bg]=Конвертирне на аудио файлове в различни формати
Comment[br]=Amdreiñ ar restroù aodio da mentrezhoù all
Comment[ca]=Converteix fitxers d'àudio a altres formats
Comment[cs]=Převádí audio soubory do různých formátů
Comment[de]=Konvertiert Audio-Dateien in andere Formate
Comment[el]=Μετατρέπει αρχεία ήχου σε άλλες μορφές
Comment[es]=Convierte archivos de audio a otros formatos
Comment[eu]=Audio fitxategiak beste formatuetara bihurtzen ditu
Comment[fi]=Muunna äänitiedostoja eri tiedostomuotoihin
Comment[fr]=Convertit des fichiers audio en d'autres formats
Comment[fr_CA]=Convertit des fichiers audio en d'autres formats
Comment[gl]=Converte os ficheiros de son a outros formatos
Comment[hu]=Hangfájlokat alakít át más formátumokba
Comment[it]=Converti file audio in altri formati
Comment[ko]=소리 파일들을 다른 형식으로 변환
Comment[lt]=Konvertuoja garso failus į kitus formatus
Comment[lv]=Pārveido audio datnes citos formātos
Comment[ms]=Tukar fail audio kepada format lain
Comment[nb]=Konverterer lydfiler til andre formater
Comment[nl]=Converteert geluidsbestanden naar andere formaten
Comment[pl]=Konwertuje pliki dźwiękowe do innych formatów
Comment[pt]=Converte os ficheiros de áudio em diversos formatos
Comment[pt_BR]=Converter arquivos de áudio para outros formatos
Comment[ru]=Конвертирует аудиофайлы в другие форматы
Comment[sk]=Prevádza audio súbory do rôznych formátov
Comment[sl]=Pretvori zvočne datoteke v druge formate
Comment[sq]=Konverton skedarët audio në formate të tjera
Comment[sr]=Претварајте звучне датотеке у друге записе
Comment[sr@latin]=Konvertuje audio fajlove u druge formate
Comment[sv]=Konverterar ljudfiler till andra format
Comment[tr]=Ses dosyalarını diğer biçimlere dönüştürür
Comment[uk]=Конвертує звукові файли в інші формати
Comment[zh_CN]=将音频文件转为其他格式
Comment[zh_TW]=將聲音檔轉換至其他格式
Icon=soundconverter
Exec=remsu /usr/bin/sparky-aptus-extra soundconverter
Terminal=false
Type=Application
Categories=AudioVideo;

