[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=remsu /usr/bin/sparky-aptus-extra soundkonverter
Icon=soundkonverter
Type=Application
Comment=Audio file converter, CD ripper and Replay Gain tool
Comment[ca]=Convertidor d'arxius d'àudio, extractor de CD i eina Replay Gain
Comment[cs]=Převaděč zvukových souborů, vytahovač stop z CD a nástroj na vyrovnání hlasitosti přehrávaných skladeb
Comment[de]=Audio-Datei Konverter, CD Ripper und Replay Gain Werkzeug
Comment[es]=Conversor de archivos de audio, extractor de CD y herramienta Replay Gain
Comment[es_AR]=Conversor de archivos de audio, extractor de CD y herramienta Replay Gain
Comment[et]=Helifailide teisendaja, CD-rippija ja helitugevuse parandustööriist
Comment[fr]=Convertisseur de fichiers audio, extracteur de CD et outil de Replay Gain
Comment[hu]=Audiofájl-konverter, CD-beolvasó és hangerő-korrekciós eszköz
Comment[it]=Convertitore di file audio, estrattore di CD e strumento Replay Gain
Comment[nl]=Audiobestanden-converter, CD-ripper en Replay Gain-gereedschap
Comment[pl]=Konwerter plików audio, ripper płyt CD i narzędzie Replay Gain
Comment[pt]=Conversor de áudio, extração de CD e análise Replay Gain
Comment[pt_BR]=Conversor de arquivo de áudio, extração de CD e ferramenta Replay Gain
Comment[ro]=Convertor de fișiere audio, uneltă de extras CD-uri si aplicat Replay Gain
Comment[ru]=Аудиоконвертер, CD-риппер и инструмент выравнивания громкости
Comment[sl]=Pretvornik zvočni datotek, zajemalnik CD-jev in orodje za jakost predvajanja
Comment[sv]=Ljudfilkonverterare, CD-rippare och Replay Gain-verktyg
Comment[zh_CN]=音频文件转换器，CD抓轨，回放增益工具
Comment[zh_TW]=音樂格式轉換、CD 擷取、播放增益工具
Terminal=false
Categories=AudioVideo;Audio;
