[Desktop Entry]
Type=Application
Version=1.0
Name=Spek
Comment=View spectrograms of your audio files
Comment[cs]=Ukázat spektrogramy zvukových souborů
Comment[da]=Vis spektrogrammer af dine lydfiler
Comment[de]=Spektrogramm der Audiodateien anzeigen
Comment[eo]=Rigardi spektrogramojn de via sondosieroj
Comment[es]=Ver espectrogramas de sus archivos de audio
Comment[fr]=Voir les spectrogrammes de vos fichiers audio
Comment[it]=Mostra spettrogrammi per i tuoi file audio
Comment[ja]=オーディオファイルのスペクトログラムを表示します。
Comment[nb]=Vis spektogram av dine lyd filer
Comment[nl]=Spectrogrammen van uw geluidsbestanden bekijken
Comment[pl]=Wyświetlanie spektrogramów plików dźwiękowych
Comment[pt_BR]=Analisar os espectrogramas dos arquivos de áudio 
Comment[ru]=Просмотр спектрограмм аудио файлов
Comment[sv]=Visa spektrogram av dina ljudfiler
Comment[tr]=Ses dosyalarının spektogramlarını görüntüle
Comment[uk]=Перегляд спектрограм аудіо файлів
Comment[vi]=Xem âm phổ của file nhạc
Comment[zh_CN]=查看你的音频频谱
Comment[zh_TW]=顯示你的音頻頻譜
Exec=remsu /usr/bin/sparky-aptus-extra spek
Icon=spek
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
