[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=digiKam
Comment=Photo Management Program
Comment[ar]=برنامج لإدارة الصّور
Comment[bg]=Управление на снимки в KDE
Comment[bs]=Program za upravljanje fotografijama
Comment[ca]=Programa per a la gestió de les fotografies
Comment[cs]=Program pro správu fotografií
Comment[da]=Program til fotohåndtering
Comment[de]=Fotoverwaltung
Comment[el]=Πρόγραμμα διαχείρισης φωτογραφιών
Comment[es]=Programa de gestión de fotos
Comment[et]=Fotohaldur
Comment[eu]=Argazkiak kudeatzeko programa
Comment[fi]=Valokuvien hallinta
Comment[fr]=Programme de gestion de photos
Comment[ga]=Clár Bainisteoireachta Grianghraf
Comment[gl]=Xestor de álbums de fotos
Comment[hr]=Program za upravljanje fotografijama
Comment[hu]=Fényképkezelő program
Comment[is]=Ljósmyndameðhöndlunarforrit
Comment[it]=Programma di gestione fotografica
Comment[ja]=フォト管理プログラム
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ទូរស័ព្ទ
Comment[ko]=사진 관리 프로그램
Comment[lt]=Nuotraukų tvarkymo programa
Comment[lv]=Fotogrāfiju pārvaldības programma
Comment[mr]=फोटो व्यवस्थापन कार्यक्रम
Comment[ms]=Program Pengurusan Gambar
Comment[nb]=KDE Fotobehandling
Comment[nl]=Fotobeheerprogramma
Comment[nn]=Fotohandsamingsprogram
Comment[pa]=ਫੋਟੋ ਪਰਬੰਧ ਪਰੋਗਰਾਮ
Comment[pl]=Zarządzanie zdjęciami
Comment[pt]=Programa de Gestão de Fotografias
Comment[pt_BR]=Programa de gerenciamento de fotos
Comment[ro]=Program pentru gestionarea fotografiilor
Comment[ru]=Программа управления фотографиями
Comment[sk]=Program na správu fotografií
Comment[sl]=Program za upravljanje fotografij
Comment[sq]=Program Për Menaxhimin e Fotove
Comment[sv]=Fotohanteringsprogram
Comment[th]=เครื่องมือจัดการภาพถ่าย
Comment[tr]=Fotoğraf Yönetim Aracı
Comment[ug]=سۈرەت باشقۇرۇش باشقۇرۇش پروگراممىسى
Comment[uk]=Програма для керування фотографіями
Comment[zh_CN]=照片管理程序
Comment[zh_TW]=相片管理程式
Exec=remsu /usr/bin/sparky-aptus-extra digikam
Icon=digikam
Terminal=false
Type=Application
Categories=Applications;System
