[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Eye of GNOME
Comment=Browse and rotate images
Comment[af]=Bekyk en roteer beelde
Comment[an]=Examine y chire imachens
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউছ কৰক আৰু ঘুৰাওক
Comment[ast]=Restola y voltia imáxenes
Comment[be]=Агляд і паварот выяў
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bs]=Pregledaj i izvrni slike
Comment[ca]=Navegueu per imatges i gireu-les
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotér billeder
Comment[de]=Bilder betrachten und drehen
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιηγηθείτε και περιστρέψτε εικόνες
Comment[eo]=Foliumi kaj turni bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fa]=مرور و چرخاندن تصویر
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fy]=Bleaderje en draaie ôfbylingen
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gd]=Brabhsaich is cuairtich dealbhan
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=ब्रॉउज करें और घुमाएँ छवियाँ
Comment[hr]=Pretražite i zakrenite slike
Comment[hu]=Képek böngészése és forgatása
Comment[id]=Ramban dan putar citra
Comment[is]=Skoða og snúa myndum
Comment[it]=Sfoglia e ruota le immagini
Comment[ja]=画像の閲覧や向きの調整をします
Comment[kk]=Суреттерді шолу мен айналдыру
Comment[km]=រកមើល និង​បង្វិល​រូបភាព
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=이미지 살펴보기 및 회전
Comment[ks]=छांड त गुमाव फोटो
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūkot un pagriezt attēlus
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[nb]=Bla gjennom og roter bilder
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Afbeeldingen doorbladeren en roteren
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Percórrer e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Navegue e rode imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navighează și rotește imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliada a otáča obrázky
Comment[sl]=Prebrskaj in zavrti slike
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледајте и окрените слике
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=బొమ్మలను విహరించు మరియు తిప్పు
Comment[tg]=Тамошо ва даврзании тасвирҳо
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimleri tara ve çevir
Comment[ts]=Lavalava na ku hundzuluxa swifaniso
Comment[ug]=سۈرەتكە كۆز يۈگۈرت ۋە ئايلاندۇر
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[vi]=Duyệt và xoay ảnh
Comment[xh]=Funda nje kwaye ujikajike umifanekiso
Comment[zh_CN]=浏览及旋转图像
Comment[zh_TW]=瀏覽及更改影像的方向
Comment[zu]=Dlulisa amehlo bese ijikeleza isithombe
Exec=remsu /usr/bin/sparky-aptus-extra eog
Icon=eog
Terminal=false
Type=Application
Categories=Applications;System

