[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gThumb
Comment=View and organize your images
Comment[az]=Rəsmlərinizi nümayiş və idarə edin
Comment[bg]=Преглед и организиране на вашите изображения
Comment[bs]=Pogledaj i organizuj svoje slike
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížejte si a roztřiďte své obrázky
Comment[da]=Vis og organiser dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[dz]=ཁྱོད་རའི་གཟུགས་བརྙན་ཚུ་ སྟོན་བཞིནམ་ལས་  འགོ་འདྲེན་འཐབ།
Comment[el]=Προβάλλετε και οργανώστε τις εικόνες σας
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaata ja korrasta oma pilte
Comment[eu]=Ikusi eta antolatu zure irudiak
Comment[fa]=تصاویر خود را ببنینید و سازمان‌دهی کنید
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[gl]=Ver e organizar as túas imaxes
Comment[gu]=તમારી ઈમેજો જુઓ અને આયોજિત કરો
Comment[he]=צפייה וארגון התמונות שלך
Comment[hr]=Pregledavajte i organizirajte svoje slike
Comment[hu]=Képek megtekintése és rendszerezése
Comment[id]=Tampilkan dan atur gambar-gambar Anda
Comment[is]=Skoða og raða myndunum þínum
Comment[it]=Visualizza e organizza le proprie immagini
Comment[ja]=画像を表示し管理するツールです
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರಗಳನ್ನು ನೋಡಿ ಹಾಗು ಜೋಡಿಸಿ
Comment[ko]=그림을 보고 관리도 하세요
Comment[lt]=Peržiūrėti ir tvarkyti paveikslėlius
Comment[lv]=Skatiet un organizējiet savus attēlus
Comment[mk]=Гледајте ги и организирајте ги Вашите слики
Comment[ms]=Lihat dan pelihara imej anda
Comment[nb]=Vis og organiser dine bilder
Comment[ne]=तपाईँको छविहरू हेर्नुहोस् र संगठित गर्नुहोस्
Comment[nl]=Uw afbeeldingen weergeven en beheren
Comment[pa]=ਆਪਣੇ ਚਿੱਤਰ ਵੇਖੋ ਤੇ ਇਹਨਾਂ ਦੀ ਸੰਭਾਲ ਕਰੋ
Comment[pl]=Wyświetlanie i organizacja obrazów
Comment[ps]=خپل انځورونه وګورﺉ او سم يې کړﺉ
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Veja e organize as suas imagens
Comment[ro]=Vizualizează și organizează imagini
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sk]=Pozerajte a organizujte svoje obrázky
Comment[sl]=Oglejte in uredite svoje slike
Comment[sq]=Shfaq dhe organizon imazhet tuaja
Comment[sr]=Погледајте и средите своје слике
Comment[sv]=Visa och ordna dina bilder
Comment[th]=ดูและจัดการรูปภาพ
Comment[tr]=Resimleri düzenle ve göster
Comment[uk]=Перегляд зображень та ведення альбомів
Comment[vi]=Xem và tổ chức các ảnh của bạn
Comment[xh]=Buka uze ulungise imifanekiso yakho
Comment[zh_CN]=查看及管理图像
Comment[zh_TW]=檢視和整理您的影像
Exec=remsu /usr/bin/sparky-aptus-extra gthumb
Icon=gthumb
Terminal=false
Type=Application
Categories=Applications;System

