[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Shotwell
Comment=Photo Manager
Comment[af]=Foto Organiseerder
Comment[ar]=مدير الصور
Comment[as]=ফ'টো ব্যৱস্থাপক
Comment[bg]=Мениджър на снимки
Comment[bn]=ফটো ম্যানেজার
Comment[bs]=Organizator Slika
Comment[ca]=Gestor fotogràfic
Comment[cs]=Správce fotografií
Comment[da]=Billedhåndtering
Comment[de]=Fotoverwaltung
Comment[el]=Διαχειριστής εικόνων
Comment[es]=Gestor de fotos
Comment[et]=Fotohaldur
Comment[eu]=Argazki-kudeatzailea
Comment[fi]=Valokuvien hallinta
Comment[fr]=Gestionnaire de photos
Comment[gd]=Manaidsear dhealbhan
Comment[gl]=Xestor de fotos
Comment[gu]=ફોટો સંચાલક
Comment[he]=מנהל תמונות
Comment[hi]=फ़ोटो प्रबंधक
Comment[hr]=Upravitelj fotografija
Comment[hu]=Fényképkezelő
Comment[ia]=Administrator de photos
Comment[id]=Manajer Foto
Comment[it]=Gestore di fotografie
Comment[ja]=Shotwell 写真管理ツール
Comment[kk]=Фотосуреттерді басқару қолданбасы
Comment[km]=កម្ម​វិធី​គ្រប់​គ្រង​រូប​ថត
Comment[kn]=ಫೋಟೊ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=사진 관리자
Comment[ky]=Фотография менеджери
Comment[lt]=Nuotraukų tvarkytuvė
Comment[lv]=Fotogrāfiju pārvaldnieks
Comment[mk]=Менаџер на фотографии
Comment[ml]=ചിത്ര പാലകന്‍
Comment[mr]=छायाचित्र व्यवस्थापक
Comment[nb]=Fotobehandler
Comment[nl]=Fotobeheerder
Comment[oc]=Gestionari de fòtos
Comment[or]=ଫୋଟୋ ପରିଚାଳକ
Comment[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
Comment[pl]=Menedżer zdjęć
Comment[pt]=Gestor de fotografias
Comment[pt_BR]=Organizador de fotos
Comment[ro]=Administrator de fotografii
Comment[ru]=Менеджер фотографий
Comment[sk]=Správca fotografií
Comment[sl]=Upravljalnik fotografij
Comment[sr]=Управник фотографија
Comment[sv]=Bildhanterare
Comment[ta]=புகைப்பட அடுக்கு
Comment[te]=ఫోటో నిర్వాహకం
Comment[th]=ตัวจัดการภาพถ่าย
Comment[tr]=Fotoğraf Yöneticisi
Comment[uk]=Впорядник фотографій
Comment[vi]=Trình quản lý ảnh
Comment[zh_CN]=照片管理器
Comment[zh_TW]=相片管理員
Exec=remsu /usr/bin/sparky-aptus-extra shotwell
Icon=shotwell
Terminal=false
Type=Application
Categories=Applications;System

