[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Viewnior
Comment=Elegant Image Viewer
Comment[ar]=عارض صور خفيف .
Comment[bg]=Елегантна програма за разглеждане на картинки
Comment[ca]=Un visor d'imatges elegant
Comment[cs]=Elegantní prohlížeč obrázků
Comment[da]=Elegant billedfremviser
Comment[de]=Eleganter Bildbetrachter
Comment[el]=Καλαίσθητος Προβολέας Εικόνων
Comment[es]=Un visor de imágenes elegante
Comment[fi]=Tyylikäs kuvannäyttäjä
Comment[fr]=Un visionneur d'images élégant
Comment[gl]=Visor de imaxes elegante
Comment[he]=מציג תמונות אלגנטי
Comment[hu]=Elegáns Képnéző
Comment[it]=Elegante Visualizzatore di Immagini
Comment[ja]=エレガントな画像ビューア
Comment[lt]=Elegantiška paveikslų žiūryklė
Comment[nl]=Elegante Afbeeldingsviewer
Comment[oc]=Un visionador d'imatges elegant
Comment[pl]=Elegancka Przeglądarka Obrazów
Comment[pt]=Visualizador de imagens elegante
Comment[pt_BR]=Visualizador de imagens elegante
Comment[ru]=Изящный просмотрщик изображений
Comment[sk]=Elegantný prehliadač obrázkov
Comment[sr]=Елегантан прегледач слика
Comment[sv]=Elegant bildvisare
Comment[tr]=Zarif Resim Gösterici
Comment[uk]=Елегантний переглядач зображень
Comment[zh_CN]=精致的图像查看器
Exec=remsu /usr/bin/sparky-aptus-extra viewnior
Icon=viewnior
Terminal=false
Type=Application
Categories=Applications;System

