[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Empathy
Comment=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[ar]=دردش عبر جوجل توك و فيسبوك وMSN و غيرها من خدمات الدردشة
Comment[as]=Google Talk, Facebook, MSN আৰু বহুতো অন্য চেট সেৱাসমূহত চেট কৰক
Comment[ast]=Charrar en Google Talk, Facebook, MSN y munchos otros servicios de chat
Comment[be]=Чат у Google Talk, Facebook, MSN ды інш.
Comment[bg]=Разговори чрез Google Talk, Facebook, MSN и много други услуги за моментни съобщения
Comment[bs]=Ćaskajte na Google Talk-u, Facebook, MSN-u i na mnogim drugim servisima za ćaskanje
Comment[ca]=Conversa a través del Google Talk, el Facebook, el MSN i molts altres serveis de xat
Comment[cs]=Diskutovat na serverech Google Talk, Facebook, MSN a mnoha dalších
Comment[da]=Chat via Google Talk, Facebook, MSN og mange andre tjenester
Comment[de]=Chat auf Google Talk, Facebook, MSN und vielen anderen Chat-Diensten
Comment[el]=Συζητήστε στα Google Talk, Facebook, MSN και σε πολλές άλλες υπηρεσίες συζητήσεων
Comment[eo]=Retbabilo per Google Talk, Vizaĝlibro, MSN kaj multaj aliaj servoj
Comment[es]=Chatee en Google Talk, Facebook, MSN y muchos otros servicios de chat
Comment[et]=Vestlus Google Talki, Facebooki, MSN-i ja paljude teiste vestlusteenuste kaudu
Comment[eu]=Egin berriketa Google Talk, Facebook, MSN eta berriketako beste hainbat zerbitzutan
Comment[fa]=گپ در گوگل تاک، فیس بوک، ام‌اس‌ان، و بسیاری سرویس‌های دیگر گپ
Comment[fi]=Keskustele käyttäen Google Talkia, Facebookia, MSN:ää ja monia muita palveluja
Comment[fr]=Discuter sur Google Talk, Facebook, MSN et beaucoup d'autres services
Comment[gl]=Converse en Google Talk, Facebook, MSN e moitos máis servizos de chat
Comment[gu]=Google Talk, Facebook, MSN અને ઘણી બીજી સંવાદ સેવાઓ પર વાર્તાલાપ
Comment[he]=ניתן לשוחח דרך Google Talk,‏ Facebook,‏ MSN ושירותי שיחה רבים נוספים
Comment[hi]=गूगल टॉक, फेसबुक, एमएसएन और कई अन्य चैट सेवा पर चैट करें
Comment[hu]=Csevegés Google Talk, Facebook, MSN és sok más szolgáltatáson
Comment[id]=Mengobrol pada Google Talk, Facebook, MSN, dan banyak layanan obrolan lain
Comment[is]=Spjallaðu á Google Talk, Facebook, MSN og mörgum öðrum spjallþjónum.
Comment[it]=Conversa su Google Talk, Facebook, MSN e molti altri servizi di messaggistica
Comment[ja]=Google Talk、Facebook、MSN など多くのチャットサービスでチャットします
Comment[km]=ជជែកកំសាន្តនៅលើ Google Talk, Facebook, MSN និងកម្មវិធីជជែកកំសាន្តផ្សេងៗទៀត
Comment[kn]=Google Talk, Facebook, MSN ಹಾಗು ಇತರೆ ಚಾಟ್‌ ಸೇವೆಗಳಲ್ಲಿ ಚಾಟ್‌ ಮಾಡಿ
Comment[ko]=구글 토크, 페이스북, MSN 및 기타 대화 서비스에서 대화
Comment[lt]=Plepėkite naudodamiesi „Google Talk“, „Facebook“, „MSN“ ir kitomis pokalbių paslaugomis
Comment[lv]=Tērzē, izmantojot Google Talk, Facebook, MSN un daudzus citus tērzēšanas pakalpojumus
Comment[mk]=Разговарајте на Google Talk, Facebook, MSN и многу други сервиси
Comment[ml]=ഗൂഗിള്‍ ടാക്ക്, ഫേസ്ബുക്ക്, എംഎസ്എന്‍ തുടങ്ങി നിരവധി സല്ലാപ സേവനങ്ങളുപയോഗിച്ചു് സല്ലപിയ്ക്കുക
Comment[mr]=Google Talk, Facebook, MSN व इतर चॅट सर्व्हिसेसवर गप्पा करा
Comment[my]=Google Talk, Facebook, MSN နှင့် အခြား စကားဝိုင်းဆော့ဝဲများ သုံးပါ။
Comment[nb]=Prat på Google Talk, Facebook, MSN og mange andre pratetjenester
Comment[nl]=Chatten op Google Talk, Facebook, MSN en vele andere chatdiensten
Comment[nn]=Nettprat på Google Talk, Facebook, MSN og mange andre nettprattenester
Comment[oc]=Discutir sus Google Talk, Facebook, MSN e beaucoup d'autres services
Comment[or]=Google ବାର୍ତ୍ତାଳାପ, Facebook, MSN ଏବଂ ଅନ୍ୟାନ୍ୟ ବାର୍ତ୍ତାଳାପ ସର୍ଭିସଗୁଡ଼ିକରେ ବାର୍ତ୍ତାଳାପ କରନ୍ତୁ
Comment[pa]=ਗੂਗਲ ਟਾਕ, ਫੇਸਬੁੱਕ, MSN ਤੇ ਹੋਰ ਕਈ ਚੈੱਟ ਸਰਵਿਸਾਂ ਉੱਤੇ ਗੱਲਾਂ ਕਰੋ
Comment[pl]=Rozmawianie przez Google Talk, Facebook, MSN i wiele innych usług
Comment[pt]=Dialogue no Google Talk, Facebook, MSN e muitos outros serviços de chat
Comment[pt_BR]=Converse no Google Talk, Facebook, MSN e muitos outros serviços de bate-papo
Comment[ro]=Discută pe Google Talk, Facebook, Yahoo!, MSN sau multe alte servicii de mesagerie
Comment[ru]=Общайтесь в Google Talk, Facebook, MSN и во многих других службах
Comment[sk]=Umožňuje komunikovať pomocou služieb Google Talk, Facebook, MSN a mnohých ďalších
Comment[sl]=Klepet na Google Talk, Facebook, MSN in na mnogih drugih klepetalnih storitvah.
Comment[sr]=Ћаскајте на Гугл разговору, Фејсбуку, МСН-у и на многим другим сервисима за ћаскање
Comment[sv]=Chatta på Google Talk, Facebook, MSN och många andra chattjänster
Comment[ta]=கூகுள் டாக், ஃபேஸ்புக், எம்எஸ்என், மற்றும் பல அரட்டை சேவைகளில் அரட்டை அடிக்க. 
Comment[te]=గూగుల్ టాక్, ఫేస్‌బుక్, MSN వంటి మరిన్ని ఇతర చాట్ సేవలలో సంభాషించండి
Comment[th]=สนทนาผ่าน Google Talk, Facebook, MSN และบริการสนทนาอื่นอีกมากมาย
Comment[tr]=Google Talk, Facebook, MSN ve daha birçok sohbet hizmeti üzerinden sohbet edin
Comment[ug]=Google Talk، Facebook، MSN ۋە باشقا سۆھبەت مۇلازىمەتلىرىنى ئىشلىتىپ پاراڭلىشىش
Comment[uk]=Балачки через Google Talk, Facebook, MSN та багато інших служб 
Comment[vi]=Trò chuyện qua Google Talk, Facebook, MSN và nhiều dịch vụ tương tự khác
Comment[xh]=Xa ngo-Google Talk, Facebook, MSN kunye nezinye ezininzi indawo zokuxoxa
Comment[zh_CN]=使用 Google Talk、Facebook、MSN 以及许多其它聊天服务
Comment[zh_TW]=使用 Google Talk、Facebook、MSN 與其他聊天服務和他人對話
Exec=remsu /usr/bin/sparky-aptus-extra empathy
Icon=empathy
Terminal=false
Type=Application
Categories=Applications;System

