[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rambox
Comment=Free and Open Source messaging and emailing app that combines common web applications into one
Comment[de]=Kostenlose und Open Source Messaging- und E-Mail-Anwendung, die gängige Webanwendungen in einer einzigen vereint
Exec=remsu /usr/bin/sparky-aptus-extra rambox
Icon=rambox
Terminal=false
Type=Application
Categories=Applications;System

