[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Camorama
Comment=Camorama Webcam Viewer
Comment[az]=Camorama Veb Kamera Nümayişçisi
Comment[bg]=Camorama - програма за уеб камера
Comment[bs]=Camorama Webcam program za prikazivanje
Comment[ca]=Visualitzador de càmera web Camorama
Comment[cs]=Prohlížeč webových kamer Camorama
Comment[da]=Camorama - netkamerafremviser
Comment[de]=Camorama Webcam-Betrachter
Comment[dz]=ཀེ་མོ་ར་མ་ཝེབ་ཀེམ་མཐོང་བྱེད་
Comment[es]=Visor de cámara web Camorama
Comment[eu]=Camorama Web camera ikustailea
Comment[fi]=Camorama Webikameran katselin
Comment[fr]=Visionneur de webcam Camorama
Comment[ga]=Amharcóir Webcam Camorama
Comment[gl]=Camorama visualizador de cámara web
Comment[gu]=કેમોરામા વેબકેમ દર્શક
Comment[hi]=केमोरामा वेबकेम दर्शक
Comment[it]=Visualizzatore per webcam Camorama
Comment[ja]=Camorama ウェブカム・ビューア
Comment[lv]=Camorama vebkameru skatītājs
Comment[mk]=Каморама вебкам прегледувач
Comment[ms]=Pelihat Webcam Camorama
Comment[nb]=Camorama webkamera-visning
Comment[ne]=कामोरामा वेबक्याम प्रदर्शक
Comment[nl]=Camorama webcamprogramma
Comment[pa]=ਵੇਖਣ ਵਾਲਾ Camorama Webcam
Comment[pl]=Camorama - kamera internetowa
Comment[pt]=Visualizador de Webcam Camorama
Comment[pt_BR]=Visualizador de Webcam Camorama
Comment[sl]=Camorama pregledovalnik spletne kamere
Comment[sq]=Camorama, shikuesi për webcam
Comment[sr]=Каморама веб камера прегледач
Comment[sv]=Webbkameravisaren Camorama
Comment[ta]=Camorama Å¨ÄôÀ¼ì¸ÕÅ¢ À¡÷¨ÅÂ¡Ç÷ ¸¡ðÊ
Comment[tr]=Camorama Web Kamerası İzleyicisi
Comment[uk]=Робота з веб-камерою
Comment[vi]=Bộ xem máy ảnh Mạng Camorama
Comment[zh_CN]=Camorama 摄像头查看器
Comment[zh_TW]=Camorama 網路攝影機檢視器
Exec=remsu /usr/bin/sparky-aptus-extra camorama
Icon=camorama
Terminal=false
Type=Application
Categories=Applications;System

