[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GIMP
Comment=GNU Image Manipulation Program
Comment[an]=Programa de manipulación d'imachens de GNU
Comment[ar]=برنامج جنو لمعالجة الصور
Comment[be]=GIMP — праґрама праекту GNU для працы зь відарысамі
Comment[bg]=Редактор на изображения (GIMP)
Comment[br]=Goulev da zornata skeudennoù GNU
Comment[bs]=Gnuov program za obradu slika (GNU Image Manipulation Program)
Comment[ca]=Programa de retoc d'imatges de GNU
Comment[cs]=GNU Image Manipulation Program
Comment[da]=GNU Image Manipulation Program
Comment[de]=GNU Image Manipulation Program
Comment[dz]=་་ཨི་མེཇི་་མ་ནུ་པུ་ལེ་ཤཱན་་པོརོ་གརམ།
Comment[el]=Πρόγραμμα επεξεργασίας εικόνων GNU
Comment[eo]=Bildmanipulilo (GIMP = GNU Image Manipulation Program)
Comment[es]=Programa de manipulación de imágenes de GNU
Comment[et]=GIMP - GNU pilditöötlusprogramm
Comment[eu]=GNUren Irudiak Manipulatzeko Programa
Comment[fa]=برنامهٔ روتوش تصاویر گنو
Comment[fi]=GIMP-kuvankäsittely
Comment[fr]=Éditeur d'image GIMP
Comment[gd]=GNU Image Manipulation Program
Comment[gl]=Programa de Manipulación de Imaxes de GNU
Comment[gu]=GNU ચિત્ર જાળવણી કાર્યક્રમ
Comment[he]=תוכנת עיבוד התמונה של GNU
Comment[hu]=A GNU képszerkesztő program
Comment[id]=GNU Program Manipulasi Gambar
Comment[is]=GNU Myndvinnsluforrit
Comment[it]=GNU Image Manipulation Program
Comment[ja]=GIMP (GNU Image Manipulation Program)
Comment[km]=កម្មវិធី​រៀបចំ​រូបភាពរបស់ GNU
Comment[kn]=GNU ಇಮೇಜ್ ಮ್ಯಾನಿಪುಲೇಶನ್ ಪ್ರೊಗ್ರಾಮ್
Comment[ko]=GNU Image Manipulation Program
Comment[lt]=GNU paveikslėlių manipuliavimo programa
Comment[lv]=GNU attēlu apstrādes programma
Comment[mk]=ГНУ програма за манипулација со слики
Comment[ml]=GNU Image Manipulation Program
Comment[my]=GNU ရုပ်ပုံ စီမံကိုင်တွယ်ရေး ပရိုဂရမ်
Comment[nb]=GNU bildebehandlingsprogram
Comment[nds]=GNU Billbewarkenprogramm
Comment[ne]=जी एन यू छवि परिचालन कार्यक्रम
Comment[nl]=GNU Image Manipulation Program
Comment[nn]=GNU biletbehandlingsprogram
Comment[oc]=Editor d'imatge GIMP
Comment[pa]=ਗਨੂ ਈਮੇਜ਼ ਮੈਨੂਪਲੇਸ਼ਨ ਪਰੋਗਰਾਮ
Comment[pl]=Edytor obrazów GIMP
Comment[pt]=Programa de Manipulação de Imagens GNU
Comment[pt_BR]=Programa de manipulação de imagem do GNU
Comment[ro]=GIMP
Comment[ru]=Графический редактор GIMP
Comment[si]=GNU Image Manipulation Program
Comment[sk]=GNU program na manipuláciu s obrázkami
Comment[sl]=GIMP - program GNU za obdelavo slik
Comment[sr]=Гнуов програм за обраду слика
Comment[sv]=GNU:s bildmanipuleringsprogram
Comment[ta]=க்னூ பட கையாளல் நிரல்
Comment[te]=గ్నూ ఇమేజ్ మానిప్యులేషన్ ప్రోగ్రామ్
Comment[th]=GNU Image Manipulation Program
Comment[tr]=GNU Görüntü İşleme Programı
Comment[tt]=Sürät Eşkärtüçe GNU-Yasılım
Comment[uk]=GNU Image Manipulation Program
Comment[vi]=Chương Trình Thao Tác Ảnh GNU
Comment[zh_CN]=GNU 图像处理程序
Comment[zh_TW]=GNU 圖片處理程式
Exec=remsu /usr/bin/sparky-aptus-extra gimp
Icon=gimp
Terminal=false
Type=Application
Categories=Applications;System

