[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gwenview
Comment=KDE Image Viewer
Comment[ar]=عارض صور كدي
Comment[bg]=Преглед на изображения в KDE
Comment[bs]=KDE Prikazivač slika
Comment[ca]=Visor d'imatges del KDE
Comment[cs]=Prohlížeč obrázků KDE
Comment[da]=KDE billedfremviser
Comment[de]=KDE-Bildbetrachter
Comment[el]=Προβολέας εικόνων του KDE
Comment[es]=Visor de imágenes de KDE
Comment[et]=KDE pildinäitaja
Comment[fa]=مشاهده‌گر تصویر کی‌دی‌ای
Comment[fi]=KDE:n kuvankatselin
Comment[fr]=Afficheur d'images de KDE
Comment[ga]=Amharcán Íomhánna KDE
Comment[gl]=Visor de imaxes de KDE
Comment[he]=מציג תמונות של KDE
Comment[hu]=KDE képnézegető
Comment[ia]=Visor de imagine de KDE
Comment[id]=Penampil Citra KDE
Comment[is]=Myndskoðari fyrir KDE
Comment[it]=Visore di immagini per KDE
Comment[ja]=KDE 画像ビューア
Comment[kk]=KDE кескін қарау құралы
Comment[ko]=KDE 그림 뷰어
Comment[lt]=KDE Paveikslėlių žiūryklė
Comment[mr]=केडीई प्रतिमा प्रदर्शक
Comment[nb]=KDE bildeviser
Comment[nl]=KDE afbeeldingenviewer
Comment[nn]=Biletvisar for KDE
Comment[pa]=ਕੇਡੀਈ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka obrazów
Comment[pt]=Visualizador de Imagens do KDE
Comment[pt_BR]=Visualizador de imagens do KDE
Comment[ro]=Vizualizor de imagini pentru KDE
Comment[ru]=Программа просмотра изображений
Comment[sk]=Prehliadač obrázkov KDE
Comment[sl]=Pregledovalnik slik za KDE
Comment[sr]=КДЕ приказивач слика
Comment[sv]=Bildvisare för KDE
Comment[tr]=KDE Resim Gösterici
Comment[uk]=Переглядач зображень KDE
Comment[zh_CN]=KDE 图像查看器
Comment[zh_TW]=KDE 影像檢視程式
Exec=remsu /usr/bin/sparky-aptus-extra gwenview
Icon=gwenview
Terminal=false
Type=Application
Categories=Applications;System

