[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Inkscape
Comment=Vector Graphics Editor
Comment[ar]=محرر الرسومات الشعاعية
Comment[as]=ভেক্টৰ গ্ৰাফিক্স সম্পাদনকৰ্তা 
Comment[be]=Рэдактар вэктарнай ґрафікі
Comment[br]=Embanner kevregadoù sturiadel
Comment[ca]=Editor de gràfics vectorials
Comment[cs]=editor vektorové grafiky
Comment[da]=Vectorgrafik redigering
Comment[de]=Vektorgrafikeditor
Comment[el]=Επεξεργαστής διανυσματικών γραφικών
Comment[es]=Editor de gráficos vectoriales
Comment[eu]=Bektore-grafikoen editorea
Comment[fr]=Éditeur d'images vectorielles SVG Inkscape
Comment[gl]=Editor de imaxes vectoriais
Comment[gu]=વ્હેક્ટર ગ્રાફિક્સ સંપાદક
Comment[he]=עורך גרפיקה וקטורית
Comment[hi]=वेक्टर ग्राफिक्स संपादक 
Comment[hu]=Vektorgrafikai szerkesztő
Comment[id]=Penyunting Grafik Vektor
Comment[is]=Teikniforrit fyrir vigramyndir / línuteikningar
Comment[it]=Grafica vettoriale SVG
Comment[ja]=ベクターグラフィックエディター
Comment[km]=កម្មវិធី​កែ​សម្រួល​ក្រាហ្វិក​វ៉ិចទ័រ
Comment[kn]=ವೆಕ್ಟರ್ ಗ್ರಾಫಿಕ್ಸ್ ಸಂಪಾದಕ
Comment[ko]=벡터 그래픽 편집기
Comment[lv]=Vektoru grafikas redaktors

Comment[ml]=വെക്ടര്‍ ഗ്രാഫിക്സ് എഡിറ്റര്‍
Comment[mr]=व्हेक्टर ग्राफिक्स संपादक
Comment[nl]=Vector tekenpakket
Comment[or]=ଭେକ୍ଟର ଗ୍ରାଫିକ୍ସ ସଂପାଦ୍କ
Comment[pl]=Edytor grafiki wektorowej
Comment[pt_BR]=Editor de Imagens Vetoriais
Comment[pt]=Editor de Imagens Vetoriais
Comment[ro]=Editor de grafică vectorială
Comment[ru]=Редактор векторной графики
Comment[sa]=वेक्टर् सुचित्रीयसंपादकः 
Comment[sat]=ᱣᱮᱠᱴᱨ  ᱜᱟᱨ ᱪᱤᱛᱟᱹᱨ ᱥᱟᱥᱟᱯᱲᱟᱣ 
Comment[sd]=ويڪٽر اکري چٽ سمپادڪ
Comment[sk]=editor vektorovej grafiky
Comment[sl]=Urejevalnik vektorskih slik
Comment[sr]=Програм за векторско цртање
Comment[ta]=வெக்டார் வரைகலை எடிட்டர்
Comment[te]=సదిశ రేఖాచిత్రాల కూర్పరి
Comment[tr]=Vektörel Grafik Düzenleyici
Comment[uk]=Редактор векторної графіки
Comment[ur]=انك اسكیپ ویكٹر گرافیكس ایڈیٹر
Comment[vi]=Trình xử lý ảnh Véc-tơ
Comment[zh_CN]=矢量图形编辑器
Comment[zh_TW]=向量繪圖軟體
Exec=remsu /usr/bin/sparky-aptus-extra inkscape
Icon=inkscape
Terminal=false
Type=Application
Categories=Applications;System

