[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ristretto
Comment=Image Viewer
Comment[ar]=عارض الصور
Comment[bg]=Програма за преглед на изображения
Comment[ca]=Visualitzador d'imatges
Comment[cs]=Prohlížeč obrázků
Comment[da]=Billedfremviser
Comment[de]=Bildbetrachter
Comment[el]=Εφαρμογή προβολής εικόνων
Comment[es]=Visor de imágenes
Comment[eu]=Irudi ikustatzailea
Comment[fi]=Kuvakatselin
Comment[fr]=Visionneur d’images
Comment[gl]=Visor de imaxes
Comment[he]=מציג תמונות
Comment[hr]=Preglednik slika
Comment[hu]=Képmegjelenítő
Comment[id]=Penilik Gambar
Comment[is]=Myndskoðari
Comment[it]=Visualizzatore di immagini
Comment[ja]=画像ビューアー
Comment[kk]=Суреттерді көрсетуші
Comment[ko]=그림 보기
Comment[lt]=Paveikslų peržiūros programa
Comment[lv]=Attēlu Skatītājs
Comment[ms]=Pelihat Imej
Comment[nb]=Bildefremviser
Comment[nl]=Afbeeldingkijker
Comment[oc]=Visionador d’imatges
Comment[pl]=Przeglądarka obrazów
Comment[pt]=Visualizador de imagens
Comment[pt_BR]=Visualizador de Imagens
Comment[ro]=Vizualizare de imagini
Comment[ru]=Просмотр изображений
Comment[sk]=Prehliadač obrázkov
Comment[sl]=Pregledovalnik Slik
Comment[sr]=Прегледач слика
Comment[sv]=Bildvisare
Comment[te]=ప్రతిబింబ వీక్షకం
Comment[th]=โปรแกรมแสดงรูป
Comment[tr]=Resim Gösterici
Comment[ug]=سۈرەت كۆرگۈ
Comment[uk]=Переглядач зображень
Comment[ur]=تصاویر منظر کار
Comment[vi]=Trình xem ảnh
Comment[zh_CN]=图片查看器
Comment[zh_TW]=影像檢視器
Exec=remsu /usr/bin/sparky-aptus-extra ristretto
Icon=ristretto
Terminal=false
Type=Application
Categories=Applications;System

