[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Webcamoid
Comment=Webcamoid Webcam Viewer
Comment[az]=Webcamoid Veb Kamera Nümayişçisi
Comment[bg]=Webcamoid - програма за уеб камера
Comment[bs]=Webcamoid Webcam program za prikazivanje
Comment[ca]=Visualitzador de càmera web Webcamoid
Comment[cs]=Prohlížeč webových kamer Webcamoid
Comment[da]=Webcamoid - netkamerafremviser
Comment[de]=Webcamoid Webcam-Betrachter
Comment[dz]=ཀེ་མོ་ར་མ་ཝེབ་ཀེམ་མཐོང་བྱེད་
Comment[es]=Visor de cámara web Webcamoid
Comment[eu]=Webcamoid Web camera ikustailea
Comment[fi]=Webcamoid Webikameran katselin
Comment[fr]=Visionneur de webcam Webcamoid
Comment[ga]=Amharcóir Webcam Webcamoid
Comment[gl]=Webcamoid visualizador de cámara web
Comment[gu]=કેમોરામા વેબકેમ દર્શક
Comment[hi]=केमोरामा वेबकेम दर्शक
Comment[it]=Visualizzatore per webcam Webcamoid
Comment[ja]=Webcamoid ウェブカム・ビューア
Comment[lv]=Webcamoid vebkameru skatītājs
Comment[mk]=Каморама вебкам прегледувач
Comment[ms]=Pelihat Webcam Webcamoid
Comment[nb]=Webcamoid webkamera-visning
Comment[ne]=कामोरामा वेबक्याम प्रदर्शक
Comment[nl]=Webcamoid webcamprogramma
Comment[pa]=ਵੇਖਣ ਵਾਲਾ Webcamoid Webcam
Comment[pl]=Webcamoid - kamera internetowa
Comment[pt]=Visualizador de Webcam Webcamoid
Comment[pt_BR]=Visualizador de Webcam Webcamoid
Comment[sl]=Webcamoid pregledovalnik spletne kamere
Comment[sq]=Webcamoid, shikuesi për webcam
Comment[sr]=Каморама веб камера прегледач
Comment[sv]=Webbkameravisaren Webcamoid
Comment[ta]=Webcamoid Å¨ÄôÀ¼ì¸ÕÅ¢ À¡÷¨ÅÂ¡Ç÷ ¸¡ðÊ
Comment[tr]=Webcamoid Web Kamerası İzleyicisi
Comment[uk]=Робота з веб-камерою
Comment[vi]=Bộ xem máy ảnh Mạng Webcamoid
Comment[zh_CN]=Webcamoid 摄像头查看器
Comment[zh_TW]=Webcamoid 網路攝影機檢視器
Exec=remsu /usr/bin/sparky-aptus-extra webcamoid
Icon=camorama
Terminal=false
Type=Application
Categories=Applications;System

