[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Amarok
Comment=Amarok - Rediscover Your Music!
Comment[be]=Amarok - адкрыйце для сябе сваю музыку!
Comment[bg]=Amarok - преоткрийте музиката!
Comment[bs]=Amarok — otkrijte svoju muziku!
Comment[ca]=Amarok - Redescobreix la teva música!
Comment[cs]=AmaroK - znovu objevte svou hudbu.
Comment[csb]=Amarok - òdrëjë znowa swòją mùzykã
Comment[da]=Amarok - Genopdag din musik!
Comment[de]=Amarok – Musik neu erleben!
Comment[el]=Amarok - Ανακαλύψτε ξανά τη μουσική σας!
Comment[eo]=Amarok - Remalkovru vian muzikon!
Comment[es]=Amarok - ¡Vuelve a descubrir tu música!
Comment[et]=Amarok - naudi oma muusikat!
Comment[eu]=Amarok - Aurkitu berriro zure musika!
Comment[fi]=Amarok – löydä musiikkisi uudelleen
Comment[fr]=Amarok - Redécouvrez votre musique !
Comment[ga]=Amarok - Athaimsigh do chuid Ceoil!
Comment[gl]=Amarok - Descubra de novo a música!
Comment[he]=Amarok - גלה מחדש את המוזיקה
Comment[hu]=Amarok - fedezze fel a zenéjét
Comment[is]=Amarok - Enduruppgötvaðu tónlistina þína!
Comment[it]=Amarok - Riscopri la tua musica!
Comment[ja]=Amarok - あなたの音楽を再発見
Comment[km]=Amarok - រក​ឃើញ​តន្ត្រី​របស់​អ្នក​ឡើង​វិញ !
Comment[ko]=Amarok - 음악의 재발견!
Comment[ku]=Amarok - muzîkê ji nû ve keşif bike
Comment[lt]=Amarok – atraskite savo muziką iš naujo!
Comment[lv]=Amarok - atklāj savu mūziku!
Comment[ms]=Amarok - Temui Muzik Anda!
Comment[nb]=Amarok – Oppdag musikken din på nytt!
Comment[nds]=Amarok - Beleev Dien Musik nieg!
Comment[ne]=अमारोक - आफ्नो बाजा फेरि पत्ता लगाउनुहोस्!
Comment[nl]=Amarok - Herontdek uw muziek!
Comment[nn]=Amarok – gjenoppdag musikken din!
Comment[pa]=ਅਮਰੋਕ - ਆਪਣਾ ਸੰਗੀਤ ਮੁੜ ਲੱਭੋ!
Comment[pl]=Amarok - odkryj na nowo swoją muzykę!
Comment[pt_PT]=Amarok - Descubra de Novo a sua Música!
Comment[pt_BR]=Amarok - Redescubra suas músicas!
Comment[ro]=Amarok - Redescoperă-ți muzica!
Comment[ru]=Amarok - посмотрите на музыку по-другому
Comment[sk]=Amarok - Znova objavte svoju hudbu!
Comment[sl]=Amarok - Znova odkrijte svojo glasbo!
Comment[sr]=Амарок — откријте своју музику!
Comment[sv]=Amarok - Återupptäck din musik!
Comment[th]=แอมอะร็อก - ค้นพบมิติใหม่ในดนตรีของคุณ !
Comment[tr]=Amarok - Müziğinizi yeniden keşfedin!
Comment[ug]=Amarok - مۇزىكىلىرىڭىزنى قايتا بايقايسىز
Comment[uk]=Amarok — відкрийте свою музику знову!
Comment[wa]=Amarok - Ridiscovroz vosse muzike!
Comment[zh_CN]=Amarok - 重新探索您的音乐！
Comment[zh_TW]=Amarok - 重新探索您的音樂世界！
Exec=remsu /usr/bin/sparky-aptus-extra amarok
Icon=amarok
Terminal=false
Type=Application
Categories=Applications;System

