[Desktop Entry]
Categories=Audio;AudioVideo;
Comment=Play your music collection
Exec=deepin-music
Icon=remsu /usr/bin/sparky-aptus-extra deepin-music
Name=Deepin Music
Type=Application
Comment[am_ET]=የእርስዎን የ ሙዚቃ ስብስብ ያጫውቱ
Comment[ar]=تشغيل مجموعة الصوتيات الخاصة بك
Comment[ast]=Reproduz la to coleición de música
Comment[az]=Musiqi kolleksiyavı oxut
Comment[bg]=Изпълнение на Вашата музикална колекция
Comment[ca]=Reproduïu la col·lecció de música
Comment[cs]=Přehrávejte svoji sbírku zvukových záznamů
Comment[da]=Afspil din musiksamling
Comment[de]=Musik verwalten und abspielen
Comment[el]=Αναπαραγάγετε τη μουσική σας συλλογή
Comment[eo]=Ludi vian muzikojn kolekton
Comment[es]=Reproduce tu colección musical
Comment[fa]=پخش کردن موسیقی های منتخب
Comment[fi]=Toista musiikkikokoelma
Comment[fil]=Magtugtog ng musika
Comment[fr]=Lire votre collection de musique
Comment[gl_ES]=Reproduce a túa colección de música
Comment[he]=נגן את אוסף המוסיקה שלך
Comment[hi_IN]=संगीत संग्रह चलायें
Comment[hr]=Slušajte svoju fonoteku
Comment[hu]=Zenegyűjtemény lejátszása
Comment[hy]=Նվագել ձեր երածշտության հավաքածուն
Comment[id]=Mainkan koleksi musik
Comment[it]=Esegui la tua raccolta musicale
Comment[ja]=音楽コレクションの再生
Comment[ko]=당신의 음악 컬렉션을 재생하세요
Comment[ku_IQ]=Li koleksiyona xwe ya mûzîkê bixe 
Comment[lt]=Groti savo muzikinę kolekciją
Comment[ms]=Main koleksi muzik anda
Comment[nb]=Spill av din musikksamling
Comment[nl]=Speel je muziekverzameling af
Comment[pl]=Odtwarzaj swoją kolekcję muzyki
Comment[pt]=Reproduzir a sua coleção de música
Comment[pt_BR]=Reproduza sua coleção musical
Comment[ro]=Redă colecția ta de muzică
Comment[ru]=Воспроизведение музыкальной коллекции
Comment[sk]=Prehrávajte svoju zbierku zvukových záznamov
Comment[sl]=Predvajaj svojo glasbeno zbirko
Comment[sr]=Слушајте вашу музичку колекцију
Comment[sv]=Spela din musiksamling
Comment[ta]=உங்கள் இசைத் தொகுப்பை இயக்கவும்
Comment[tr]=Müzik koleksiyonunuzu oynatın
Comment[uk]=Відтворіть твори вашої музичної збірки
Comment[zh_CN]=为您播放本地及网络音频流
Comment[zh_HK]=播放你收藏的音樂
Comment[zh_TW]=播放存於電腦的音樂
