[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=xmms2
Comment=Client/server based media player system
Exec=remsu /usr/bin/sparky-aptus-extra xmms2
Icon=applications-audio
Type=Application
Categories=Audio;

