[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OnionShare
Comment=Share a file over Tor Hidden Services anonymously and securely
Exec=remsu /usr/bin/sparky-aptus-extra onionshare
Icon=org.onionshare.OnionShare
Type=Application
Categories=Applications;System;
