[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Evolution
Comment=Manage your email, contacts and schedule
Comment[af]=Bestuur pos, kontakte en skedule
Comment[an]=Chestiona lo tuyo correu electronico, contactos y calandario
Comment[ar]=أدِر بريدك الإلكتروني ومتراسليك وجدولك
Comment[as]=আপোনাৰ ই-মেইল একাওন্টসমূহকে ইয়াত বিন্যাস কৰক
Comment[be]=Кіраванне поштай, кантактамі і раскладам
Comment[bg]=Управление на поща, контакти и разписания
Comment[bn]=ই-মেইল, পরিচিতি ও কর্মতালিকা এখানে কনফিগার করুন
Comment[bs]=Upravlja poštom, kontaktima i obavezama
Comment[ca]=Gestioneu els correus electrònics, contactes i horaris
Comment[cs]=Spravujte svůj e-mail, kontakty a rozvrh
Comment[da]=Håndter dine e-mails, kontaktpersoner og din tidsplan
Comment[de]=Ihre E-Mails, Kontakte und Terminplanung verwalten
Comment[dz]=ཁྱོད་རའི་གློག་འཕྲིན་དང་ འབྲེལ་ས་ དེ་ལས་ འཆར་རིམ་ཚུ་ འཛིན་སྐྱོང་འབད་ 
Comment[el]=Διαχείριση της αλληλογραφίας, των επαφών και του χρόνου σας
Comment[eo]=Administri viajn retpoŝton, kontaktojn kaj planojn
Comment[es]=Gestione su correo-e, contactos y calendario
Comment[et]=Oma e-posti, kontaktide ja kalendri haldamine
Comment[eu]=Kudeatu zure posta-kontuak, kontaktuak eta antolaketa
Comment[fa]=رایانامه، آشنایان و برنامه‌ریزی‌تان را مدیریت کنید
Comment[fi]=Hallitse sähköposteja, yhteystietoja ja ajan käyttöä
Comment[fr]=Gérer vos courriels, contacts et agendas
Comment[fur]=Gjestìs lis propriis e-mail, i contats e lis planificazions
Comment[ga]=Bainstigh do chuid ríomhphoist, do chuid teagmhálacha agus do sceideal
Comment[gl]=Xestione o seu correo, contactos e programación
Comment[gu]=તમારું ઈમેઈલ, સંપર્કો અને સમયક્રમની વ્યવસ્થા કરો
Comment[he]=נהל את הדוא"ל, אנשי הקשר ולוח הזמנים שלך
Comment[hi]=अपना ईमेल संपर्क व योजना प्रबंधित करें
Comment[hr]=Upravljanje poštom, kontaktima i rasporedom
Comment[hu]=E-mailek, névjegyek és határidők kezelése
Comment[id]=Mengelola surel, kontak, dan jadwal Anda
Comment[is]=Sjá um tölvupóst, tengiliði og dagbók
Comment[it]=Gestisce le proprie email, i contatti e progetti
Comment[ja]=メールや連絡先、予定などを管理します
Comment[kk]=Пошта, контакттар және жоспарыңызды басқару
Comment[kn]=ನಿಮ್ಮ ವಿಅಂಚೆ, ಸಂಪರ್ಕ ವಿಳಾಸಗಳನ್ನು ಹಾಗು ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ನಿರ್ವಹಿಸು
Comment[ko]=전자메일, 연락처, 일정을 관리합니다
Comment[lt]=Tvarkykite savo el. paštą, kontaktus ir kalendorių
Comment[lv]=Pārvaldiet savu e-pastu, kontaktus un grafiku
Comment[mk]=Менаџирајте со Вашата е-пошта, контакти и распоред
Comment[ml]=നിങ്ങളുടെ ഈ മെയില്‍ , കോണ്ടാക്റ്റുകള്‍, ഷെഡ്യൂള്‍ ഇവിടെ ക്രമീകരിക്കുക
Comment[mr]=तुमचे ईमेल, संपर्क व वेळपत्रकाचे निरीक्षण करा
Comment[nb]=Håndter e-post, kontakter og kalender
Comment[nl]=Uw e-mail, adresboek en agenda beheren
Comment[nn]=Handsama epost, kontaktar og timeplan
Comment[oc]=Gerir vòstres corrièls, contactes e agendas
Comment[or]=ଆପଣଙ୍କ ମେଲକୁ ପରିଚାଳନା କରନ୍ତୁ, ଯୋଗାଯୋଗ ଏବଂ କାର୍ଯ୍ୟସୂଚୀ
Comment[pa]=ਆਪਣਾ ਈ-ਮੇਲ ਅਕਾਊਂਟ, ਸੰਪਰਕ ਅਤੇ ਸ਼ੈਡਿਊਲ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie wiadomościami, kontaktami i terminarzem
Comment[ps]=خپل برېښليکونه، اړيکلوري او مهالوېش سمبال کړﺉ
Comment[pt]=Para gerir o seu email, contactos e agenda
Comment[pt_BR]=Gerencie seus e-mails, contatos e programação
Comment[ro]=Administrează email-urile, contactele și întâlnirile
Comment[ru]=Управление электронной почтой, контактами и расписанием
Comment[sk]=Spravuje váš email, kontakty a časový plán
Comment[sl]=Enostavno upravljanje s pošto, stiki, urniki in razporedi
Comment[sq]=Menazhon postën personale, kontakte dhe projekte
Comment[sr]=Управљајте вашом поштом, контактима и обавезама
Comment[sv]=Hantera din e-post, kontakter och schema
Comment[ta]=உங்கள் மின்னஞ்சல் தொடர்புகள் மற்றும் கால ஒதுக்கீடுகள் ஆகியவற்றை மேலாளவும்
Comment[te]=మీ ఈమెయిల్ ను నిర్వహించుము, పరిచయాలు మరియు ప్రణాళిక
Comment[th]=จัดการอีเมล ผู้ติดต่อ และนัดหมายของคุณ
Comment[tr]=E-postalarını, bağlantılarınızı ve randevularınızı yönetin
Comment[ug]=ئېلخەت، ئالاقەداشلار ۋە پىلانىڭىزنى باشقۇرىدۇ
Comment[uk]=Ваша електронна пошта та розклад
Comment[vi]=Quản lý thư tín, lịch biểu và các liên lạc
Comment[zh_CN]=配置您的电子邮件，联系人和日程表
Comment[zh_TW]=管理您的郵件、連絡人和行程
Exec=remsu /usr/bin/sparky-aptus-extra evolution
Icon=evolution
Terminal=false
Type=Application
Categories=Applications;System
