[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gmail Desktop
Comment=Unofficial Gmail Desktop App
Exec=remsu /usr/bin/sparky-aptus-extra gmail-desktop
Icon=gmail-desktop
Terminal=false
Type=Application
Categories=Applications;System

