[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KMail
Comment=Send, receive and manage your mail with KMail
Comment[ar]=أرسل البريد واستلمه وأدره عبر «بريدك»
Comment[ca]=Envia, rep i administra el vostre correu amb el KMail
Comment[da]=Send, modtag og håndtér din e-mail med KMail
Comment[de]=Senden, empfangen und verwalten Ihrer E-Mails mit KMail
Comment[es]=Enviar, recibir y gestionar su correo con KMail
Comment[et]=Kirjade saatmine, saamine ja haldamine KMailiga
Comment[fi]=Lähetä, vastaanota ja hallitse postiasi KMaililla
Comment[fr]=Envoyez, recevez et gérez vos courriels avec KMail
Comment[gl]=Enviar, recibir e xestionar o correo con KMail.
Comment[ia]=Invia, recipe e gere tu e-posta con KMail
Comment[it]=Invia, ricevi e gestisci la tua posta con KMail
Comment[ko]=KMail로 내 이메일을 보내고 받고 관리하기
Comment[nb]=Send. motta og hold styr på e-posten din med KMail
Comment[nl]=Verzend, ontvang en beheer uw e-mail met KMail
Comment[nn]=Send, ta imot og organiser dine e-postar med KMail 
Comment[pl]=Wysyłaj, odbieraj i zarządzaj swoją pocztą z KMaila
Comment[pt]=Envie, receba e faça a gestão do seu correio com o KMail
Comment[pt_BR]=Envie, receba e gerencie seus e-mails com o KMail
Comment[ru]=Отправка, получение и упорядочивание электронных писем
Comment[sk]=Poslať, prijať a spravovať vašu poštu s KMail
Comment[sl]=Pošiljajte, prejemajte in upravljajte z e-pošto s pomočjo KMaila
Comment[sr]=Шаљите, примајте и управљајте поштом помоћу К‑поште
Comment[sv]=Skicka, ta emot och hantera e-post med Kmail
Comment[tr]=E-postanızı KMail ile gönderin, alın ve yönetin
Comment[uk]=Надсилайте і отримуйте пошту та керуйте вашими поштовими повідомленнями за допомогою KMail
Comment[zh_CN]=使用 KMail 发送，接收和管理您的邮件
Comment[zh_TW]=用 KMail 傳送、接收與管理您的郵件
Exec=remsu /usr/bin/sparky-aptus-extra kmail
Icon=kmail
Terminal=false
Type=Application
Categories=Applications;System

