[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Tutanota Desktop
Comment=Desktop client for Tutanota, the secure e-mail service.
Exec=remsu /usr/bin/sparky-aptus-extra tutanota
Icon=tutanota-desktop
Terminal=false
Type=Application
Categories=Applications;System

