[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Audacious
Comment=Listen to music
Comment[ar]=استمع إلى الموسيقى
Comment[be]=Слухайце музыку
Comment[bg]=Слушане на музика
Comment[ca]=Escolteu música
Comment[cs]=Poslouchat hudbu
Comment[da]=Lyt til musik
Comment[de]=Musik hören
Comment[el]=Ακρόαση μουσικής
Comment[eo]=Aŭskulti muzikon
Comment[es]=Escuchar música
Comment[et]=Kuula muusikat
Comment[fi]=Kuuntele musiikkia
Comment[fr]=Écouter de la musique
Comment[gl]=Escoitar música
Comment[hr]=Slušanje glazbe
Comment[hu]=Zenehallgatás
Comment[it]=Ascolta la musica
Comment[ja]=音楽を聴きます
Comment[ko]=음악을 들어요
Comment[lt]=Klausyti muzikos
Comment[lv]=Klausīties mūziku
Comment[ms]=Dengar muzik
Comment[nl]=Luister naar muziek
Comment[pl]=Słuchaj muzyki
Comment[pt_BR]=Ouça música
Comment[pt_PT]=Reprodução de músicas
Comment[pt]=Escuta musica
Comment[ro]=Ascultă muzică
Comment[ru]=Слушать музыку
Comment[sk]=Počúvajte hudbu
Comment[sr]=Слушајте музику
Comment[sv]=Lyssna på musik
Comment[tr]=Müzik dinleyin
Comment[uk]=Слухати музику
Comment[vi]=Nghe nhạc
Comment[zh_CN]=聆听音乐
Comment[zh_TW]=音樂鑑賞
Exec=remsu /usr/bin/sparky-aptus-extra audacious
Icon=audacious
Terminal=false
Type=Application
Categories=Applications;System

