[Desktop Entry]
Name=Pogo
Comment=Audio Player
Exec=remsu /usr/bin/sparky-aptus-extra pogo
Icon=pogo
Terminal=false
Type=Application
Categories=AudioVideo;Audio;

