[Desktop Entry]
Version=1.0
Type=Application
Name=Kwave Sound Editor
Comment=A sound editor by KDE
Comment[ca]=Un editor de so, creat per la comunitat KDE
Comment[ca@valencia]=Un editor de so, creat per la comunitat KDE
Comment[cs]=Editor zvuku od KDE
Comment[da]=Et lydredigeringsprogram af KDE
Comment[de]=Ein Sound-Editor von KDE
Comment[el]=Ένας επεξεργαστής ήχου από το KDE
Comment[es]=Un editor de sonido por KDE
Comment[eu]=KDEren soinu editore bat
Comment[fi]=KDE:n äänimuokkain
Comment[fr]=Un éditeur de sons par KDE
Comment[gl]=Un editor de sons por KDE.
Comment[it]=Editor del suono di KDE
Comment[ko]=KDE의 소리 편집기
Comment[nl]=Een geluidsbewerker door KDE
Comment[nn]=Lydredigeringsprogram frå KDE
Comment[pl]=Edytor dźwięku w ramach KDE
Comment[pt_PT]=Um editor de som do KDE
Comment[pt_BR]=Um editor de som do KDE
Comment[sk]=Zvukový editor pre KDE
Comment[sv]=En ljudeditor av KDE
Comment[tr]=KDE tarafından geliştirilmiş bir ses düzenleyicisi
Comment[uk]=Звуковий редактор від KDE
Comment[zh_CN]=KDE 推出的声音编辑器
Comment[zh_TW]=來自 KDE 的音效編輯器
Exec=remsu /usr/bin/sparky-aptus-extra kwave
Icon=kwave
Terminal=false
Categories=AudioVideo;Audio;
