[Desktop Entry]
Name=Sonic Visualiser
Comment=Viewing and analysing the contents of music audio files
Comment[fr]=Affichage et analyse des contenus des fichiers audio de musique
Comment[pl]=Przeglądanie i analizowanie zawartości plików audio z muzyką
Exec=remsu /usr/bin/sparky-aptus-extra sonic-visualiser
Terminal=false
Type=Application
Icon=sonic-visualiser
Categories=Audio;AudioVideo;
