[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KMPlayer
Comment=KDE interface for MPlayer
Comment[ar]=واجهة كدي لبرنامج MPlayer
Comment[be]=KDE інтэрфейс да MPlayer
Comment[bg]=KDE интерфейс за MPlayer
Comment[bs]=KDE sučelje za M‑plejer
Comment[ca]=Interfície del KDE pel MPlayer
Comment[cs]=KDE rozhraní pro MPlayer
Comment[csb]=Interfejs KDE dlô MPlayer
Comment[da]=KDE-brugerflade til MPlayer
Comment[de]=KDE-Oberfläche für MPlayer
Comment[el]=Περιβάλλον χρήσης του MPlayer για το KDE
Comment[es]=Interfaz KDE para MPlayer
Comment[et]=KDE MPlayeri liides
Comment[eu]=KDE interfazea MPlayer-entzako
Comment[fi]=KDE-käyttöliittymä MPlayerille
Comment[fr]=Interface KDE pour MPlayer
Comment[ga]=Comhéadan MPlayer le haghaidh KDE
Comment[gl]=Interface de KDE para o MPlayer
Comment[hne]=एमप्लेयर बर केडीई इंटरफेस
Comment[hu]=KDE MPlayer interfész
Comment[it]=Interfaccia KDE per MPlayer
Comment[ja]=MPlayer の KDE インターフェース
Comment[km]=ចំណុច​ប្រទាក់ KDE សម្រាប់ MPlayer
Comment[ko]=KDE MPlayer 인터페이스
Comment[ku]=Navrûyê KDE ji bo MLêdar
Comment[lt]=KDE ir MPlayer sąsaja
Comment[lv]=KDE MPlayer interfeiss
Comment[mr]=एम-प्लेयर करिता केडीई दुवा
Comment[nb]=KDE-grensesnitt for MPlayer
Comment[nds]=KDE-Koppelsteed för MPlayer
Comment[nl]=KDE-interface voor MPlayer
Comment[pa]=M-ਪਲੇਅਰ ਲਈ KDE ਇੰਟਰਫੇਸ
Comment[pl]=Interfejs KDE do MPlayera
Comment[pt]=Interface KDE para o MPlayer
Comment[pt_BR]=Interface KDE para o MPlayer
Comment[ro]=Interfață KDE pentru MPlayer
Comment[ru]=Интерфейс KDE для MPlayer
Comment[sk]=KDE rozhranie pre MPlayer
Comment[sr]=КДЕ сучеље за М‑плејер
Comment[sv]=KDE-gränssnitt för Mplayer
Comment[th]=ระบบติดต่อผู้ใช้ของ MPlayer บน KDE 
Comment[tr]=MPlayer için KDE arayüzü
Comment[ug]=MPlayer نىڭ KDE ئارا يۈزى
Comment[uk]=KDE-інтерфейс для MPlayer
Comment[x-test]=xxKDE interface for MPlayerxx
Comment[zh_CN]=MPlayer 的 KDE 界面
Comment[zh_TW]=MPlayer 的 KDE 介面
Exec=remsu /usr/bin/sparky-aptus-extra kmplayer
Icon=kmplayer
Terminal=false
Type=Application
Categories=Applications;System

