[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Parole
Comment=Play your media
Comment[ar]=شغل الوسائل
Comment[ast]=Reproduz la to multimedia
Comment[bg]=Изпълнение на мултимедията
Comment[ca]=Reproduïu els vostres mitjans audiovisuals
Comment[cs]=Přehrát vaše média
Comment[da]=Afspil dit medie
Comment[de]=Medien wiedergaben
Comment[el]=Αναπαραγωγή των πολυμέσων σας...
Comment[en_AU]=Play your media
Comment[es]=Reproducir sus medios
Comment[eu]=Erreproduzitu zure euskarria
Comment[fi]=Toista mediasi
Comment[fr]=Lisez votre contenu multimédia
Comment[he]=נגן את המדיה שלך
Comment[hr]=Reproduciraj svoju medij
Comment[hu]=Média lejátszása
Comment[id]=Mainkan media anda
Comment[is]=Spilaðu efnið þitt
Comment[it]=Riproduttore di media
Comment[ja]=映像や音楽メディアを再生します。
Comment[kk]=Медиаңызды ойнату
Comment[ko]=미디어 재생
Comment[lt]=Groti savo mediją
Comment[ms]=Main media anda
Comment[nb]=Spill dine mediafiler
Comment[nl]=Speel uw media af
Comment[oc]=Legir vòstre mèdia
Comment[pl]=Odtwarza nagrania dźwiękowe i wideo
Comment[pt]=Reproduza os seu ficheiros
Comment[pt_BR]=Reproduzir sua mídia
Comment[ru]=Воспроизведение медиафайлов
Comment[sk]=Prehráva vaše multimédiálne súbory
Comment[sq]=Luani media tuajat
Comment[sr]=Изведи садржај
Comment[sv]=Spela dina media
Comment[te]=మీ మాధ్యమాన్ని ఆడించండి
Comment[th]=เล่นสื่อของคุณ
Comment[tr]=Medya oynatıcınız
Comment[ug]=ۋاسىتە قويۇش
Comment[uk]=Програвання Ваших медіа
Comment[zh_CN]=播放媒体
Comment[zh_TW]=播放您的媒體
Exec=remsu /usr/bin/sparky-aptus-extra parole
Icon=parole
Terminal=false
Type=Application
Categories=Applications;System

