[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Totem
Comment=Play movies
Comment[ar]=شغّل الأفلام
Comment[as]=চলচিত্ৰসমূহ চলাওক
Comment[be]=Прайграванне фільмаў
Comment[bs]=Pokreni filmove
Comment[ca]=Reprodueix pel·lícules
Comment[cs]=Přehrávání filmů
Comment[de]=Filme abspielen
Comment[el]=Αναπαραγωγή ταινιών
Comment[eo]=Ludi filmojn
Comment[es]=Reproducir películas
Comment[et]=Filmide esitamine
Comment[eu]=Filma erreproduzitzea
Comment[fa]=پخش فیلم‌ها
Comment[fi]=Toista elokuvia
Comment[fr]=Lecture de films
Comment[ga]=Seinn scannáin
Comment[gd]=Cluich filmichean
Comment[gl]=Reproducir filmes
Comment[gu]=ચિત્રપટ વગાડો
Comment[he]=ניגון סרטים
Comment[hi]=चलाएँ मूवी
Comment[hr]=Gledajte filmove
Comment[hu]=Filmek lejátszása
Comment[id]=Memutar film
Comment[is]=Spila myndskeið
Comment[it]=Riproduce filmati
Comment[ja]=動画を再生します
Comment[kk]=Видеоларды ойнату
Comment[km]=ចាក់​ភាពយន្ត
Comment[kn]=ಚಲನಚಿತ್ರವನ್ನು ಚಲಾಯಿಸು
Comment[ko]=동영상을 재생합니다
Comment[lt]=Žiūrėti filmus
Comment[lv]=Atskaņot filmas
Comment[ml]=ചലച്ചിത്രം പ്രവര്‍ത്തിപ്പിക്കുക
Comment[mr]=चित्रपट चालवा
Comment[nb]=Spill av filmer
Comment[oc]=Lectura de filmes
Comment[or]=ଚଳଚିତ୍ର ଚଲାନ୍ତୁ
Comment[pa]=ਮੂਵੀ ਚਲਾਓ
Comment[pl]=Odtwarzanie filmów
Comment[pt]=Reproduzir filmes
Comment[pt_BR]=Reproduzir filmes
Comment[ru]=Воспроизведение фильмов
Comment[sk]=Prehráva filmy
Comment[sl]=Predvajanje posnetkov
Comment[sr]=Пуштајте филмове
Comment[sv]=Spela upp filmer
Comment[ta]=திரைப்படங்களை இயக்குக
Comment[te]=చలనచిత్రాలను ప్రదర్శించు
Comment[tg]=Пахши филмҳо
Comment[th]=เล่นภาพยนตร์
Comment[ug]=كىنولارنى قويۇش
Comment[uk]=Програти фільми
Comment[vi]=Phát phim
Comment[zh_CN]=播放电影
Comment[zh_TW]=播放影片
Exec=remsu /usr/bin/sparky-aptus-extra totem
Icon=org.gnome.Totem
Terminal=false
Type=Application
Categories=Applications;System
