[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VLC
Comment=Read, capture, broadcast your multimedia streams
Comment[bn]=আপনার মাল্টিমিডিয়া স্ট্রীম পড়ুন, ধরে রাখুন এবং ছড়িয়ে দিন
Comment[br]=Lenn, enrollañ, skignañ ho lanvioù liesvedia
Comment[ca]=Reproduïu, captureu i difoneu fluxos multimèdia
Comment[da]=Læs, indspil, transmittér dine multimediestreams
Comment[de]=Wiedergabe, Aufnahme und Verbreitung Ihrer Multimedia-Streams
Comment[es]=Lea, capture y emita sus contenidos multimedia
Comment[et]=Multimeediafailide taasesitamine, lindistamine ja edastamine
Comment[fi]=Toista, tallenna ja lähetä multimediaa
Comment[fr]=Lire, capturer, diffuser vos flux multimedia
Comment[gl]=Lea, capture e emita os seus fluxos multimedia
Comment[he]=קריאה, לכידה ושידור של תזרימי מולטימדיה
Comment[hu]=Multimédiás adatfolyamok olvasása, mentése, szórása
Comment[is]=Spilar margmiðlunarefni ásamt því að taka upp og útvarpa straumum
Comment[it]=Legge, acquisisce e trasmette i tuoi flussi multimediali
Comment[ja]=マルチメディアストリームの読み込み、キャプチャー、ブロードキャスト
Comment[km]=អាន ចាប់យក ប្រកាស​ស្ទ្រីម​ពហុមេឌៀ​របស់​អ្នក
Comment[lt]=Groti, įrašyti, siųsti įvairialypės terpės kūrinius
Comment[nl]=Uw multimediastreams afspelen, opnemen en uitzenden
Comment[nn]=Spel av, ta opp og send ut multimedia
Comment[pa]=ਆਪਣੀ ਮਲਟੀਮੀਡਿਆ ਸਟਰੀਮ ਪੜ੍ਹੋ, ਕੈਪਚਰ ਤੇ ਬਰਾਡਕਾਸਟ ਕਰੋ 
Comment[pl]=Odczytywanie, przechwytywanie i nadawanie strumieni multimedialnych
Comment[pt_BR]=Reproduza, capture e transmita os seus fluxos multimídia
Comment[ru]=Универсальный проигрыватель видео и аудио
Comment[sk]=Naèítavajte, zaznamenávajte, vysielajte svoje multimediálne streamy
Comment[sv]=Spelare för film och musik
Comment[te]=మీ బహుళమాధ్యమ ప్రవాహాలను చదువు, బంధించు మరియు ప్రసారం చేయి
Comment[wa]=Lét, egaloye, evoye vos floûs multimedia
Comment[zh_CN]=为您读取、捕获或发送多媒体流
Exec=remsu /usr/bin/sparky-aptus-extra vlc
Icon=vlc
Terminal=false
Type=Application
Categories=Applications;System

